---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [2]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [2]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [3]:
def answer_one():
    return df['Gold'].idxmax(axis=1)

answer_one()

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [4]:
def answer_two():
    df['DiferenceGold'] = abs(df['Gold'] - df['Gold.1'])
    return df['DiferenceGold'].idxmax(axis=1)
answer_two()

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [5]:
def answer_three():
    df['RelativeDiferenceGold'] = 0.000000000   
    for x in range(len(df['RelativeDiferenceGold'])):
        if (df['Gold'][x]>0 and df['Gold.1'][x]>0):
            valor = abs(df['Gold'][x] - df['Gold.1'][x])/df['Gold.2'][x]
            df['RelativeDiferenceGold'][x] = valor
    return df['RelativeDiferenceGold'].idxmax(axis=1)
answer_three()

'Bulgaria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [6]:
def answer_four():
    df['Points'] = 3*df['Gold.2']+2*df['Silver.2'] + 1*df['Bronze.2']
    return df['Points']
answer_four()

Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
Australia                            923
Austria                              569
Azerbaijan                            43
Bahamas                               24
Bahrain                                1
Barbados                               1
Belarus                              154
Belgium                              276
Bermuda                                1
Bohemia                                5
Botswana                               2
Brazil                               184
British West Indies                    2
Bulgaria                             411
Burundi                                3
Cameroon                              12
Canada                               846
Chile                                 24
China                               1120
Colombia                              29
Costa Rica                             7
Ivory Coast                            2
Croatia                               67
Cuba                                 420
Cyprus                                 2
                                    ...
Spain                                268
Sri Lanka                              4
Sudan                                  2
Suriname                               4
Sweden                              1217
Switzerland                          630
Syria                                  6
Chinese Taipei                        32
Tajikistan                             4
Tanzania                               4
Thailand                              44
Togo                                   1
Tonga                                  2
Trinidad and Tobago                   27
Tunisia                               19
Turkey                               191
Uganda                                14
Ukraine                              220
United Arab Emirates                   3
United States                       5684
Uruguay                               16
Uzbekistan                            38
Venezuela                             18
Vietnam                                4
Virgin Islands                         2
Yugoslavia                           171
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38
Name: Points, dtype: int64

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [3]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [8]:
def answer_five():
    #census_df_2 = census_df.set_index(['STNAME', 'STATE'])
    census_df_2 = census_df['STNAME']
    dataframe = pd.Series({'State':0})
    for x in range(len(census_df_2)):
        dataframe[census_df_2[x]] = 0
    for x in range(len(census_df_2)):
        dataframe[census_df_2[x]] = dataframe[census_df_2[x]] + 1
    #print(dataframe)
    return dataframe.idxmax()
answer_five()

'Texas'

### Question 6
**Only looking at the three most populous counties for each state**, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [60]:
def answer_six():
    census_df_3 = census_df[census_df['SUMLEV']==50]
    columns_to_keep =  ['STNAME', 'CENSUS2010POP']
    census_df_3 = census_df_3[columns_to_keep]
    census_df_4 = census_df_3.set_index('STNAME')
    cdf = pd.Series()
    cdf_2 = pd.Series()
    for x in range(len(census_df_3.index)):
        cdf[census_df_4.index[x]] = [0,0,0]
    for i in cdf.index:
        df_aux = census_df_3[census_df_3['STNAME']==i]
        df_aux = df_aux.sort_values(['CENSUS2010POP'])
        print(df_aux)
        lista = [x+1 for x in range(len(df_aux))]
        #print(lista)
        df_aux=df_aux.reset_index(lista)
        print(df_aux)
        if len(df_aux)>=3:
            for j in range(0,3):

                cdf[i][j] = df_aux['CENSUS2010POP'].max()
                idmax = df_aux['CENSUS2010POP'].idxmax()
                df_aux = df_aux.drop(idmax)
        else:
            for j in range(0,len(df_aux)):
                cdf[i][j] = df_aux['CENSUS2010POP'].max()
                idmax = df_aux['CENSUS2010POP'].idxmax()
                df_aux = df_aux.drop(idmax)
            
    for i in cdf.index:
        cdf_2[i] = 0
        for j in range(0,3):
            cdf_2[i] += cdf[i][j]
    #print(cdf_2)
    
    result = []
    for i in range(0,3):
        idmax = cdf_2.idxmax()
        #print(idmax)
        cdf_2 = cdf_2.drop(idmax)
        result.append(idmax)
    #print(result)
    return result
answer_six()

     STNAME  CENSUS2010POP
32  Alabama           9045
53  Alabama          10591
6   Alabama          10914
43  Alabama          11299
19  Alabama          11539
66  Alabama          11670
18  Alabama          13228
60  Alabama          13763
12  Alabama          13859
21  Alabama          13906
14  Alabama          13932
38  Alabama          14564
15  Alabama          14972
33  Alabama          15760
29  Alabama          17241
34  Alabama          17302
65  Alabama          17581
54  Alabama          19746
7   Alabama          20947
46  Alabama          21027
44  Alabama          21452
56  Alabama          22913
4   Alabama          22915
50  Alabama          23068
67  Alabama          24484
13  Alabama          25833
10  Alabama          25989
31  Alabama          26790
3   Alabama          27457
47  Alabama          30776
..      ...            ...
11  Alabama          43643
24  Alabama          43820
16  Alabama          49948
23  Alabama          50251
57  Alabama          52947
36  Alabama          53227
17  Alabama          54428
1   Alabama          54571
5   Alabama          57322
64  Alabama          67023
25  Alabama          71109
26  Alabama          79303
22  Alabama          80406
61  Alabama          82291
42  Alabama          82782
58  Alabama          83593
39  Alabama          92709
48  Alabama          93019
35  Alabama         101547
28  Alabama         104430
8   Alabama         118572
52  Alabama         119490
41  Alabama         140247
2   Alabama         182265
63  Alabama         194656
59  Alabama         195085
51  Alabama         229363
45  Alabama         334811
49  Alabama         412992
37  Alabama         658466

[67 rows x 2 columns]
    index   STNAME  CENSUS2010POP
0      32  Alabama           9045
1      53  Alabama          10591
2       6  Alabama          10914
3      43  Alabama          11299
4      19  Alabama          11539
5      66  Alabama          11670
6      18  Alabama          13228
7      60  Alabama          13763
8      12  Alabama          13859
9      21  Alabama          13906
10     14  Alabama          13932
11     38  Alabama          14564
12     15  Alabama          14972
13     33  Alabama          15760
14     29  Alabama          17241
15     34  Alabama          17302
16     65  Alabama          17581
17     54  Alabama          19746
18      7  Alabama          20947
19     46  Alabama          21027
20     44  Alabama          21452
21     56  Alabama          22913
22      4  Alabama          22915
23     50  Alabama          23068
24     67  Alabama          24484
25     13  Alabama          25833
26     10  Alabama          25989
27     31  Alabama          26790
28      3  Alabama          27457
29     47  Alabama          30776
..    ...      ...            ...
37     11  Alabama          43643
38     24  Alabama          43820
39     16  Alabama          49948
40     23  Alabama          50251
41     57  Alabama          52947
42     36  Alabama          53227
43     17  Alabama          54428
44      1  Alabama          54571
45      5  Alabama          57322
46     64  Alabama          67023
47     25  Alabama          71109
48     26  Alabama          79303
49     22  Alabama          80406
50     61  Alabama          82291
51     42  Alabama          82782
52     58  Alabama          83593
53     39  Alabama          92709
54     48  Alabama          93019
55     35  Alabama         101547
56     28  Alabama         104430
57      8  Alabama         118572
58     52  Alabama         119490
59     41  Alabama         140247
60      2  Alabama         182265
61     63  Alabama         194656
62     59  Alabama         195085
63     51  Alabama         229363
64     45  Alabama         334811
65     49  Alabama         412992
66     37  Alabama         658466

[67 rows x 3 columns]
    STNAME  CENSUS2010POP
96  Alaska            662
92  Alaska            968
73  Alaska            997
84  Alaska           1631
74  Alaska           1826
78  Alaska           2150
95  Alaska           2369
77  Alaska           2508
69  Alaska           3141
89  Alaska           3815
75  Alaska           4847
90  Alaska           5559
70  Alaska           5561
97  Alaska           5588
93  Alaska           7029
83  Alaska           7459
88  Alaska           7523
91  Alaska           8881
87  Alaska           9430
86  Alaska           9492
94  Alaska           9636
81  Alaska          13477
82  Alaska          13592
72  Alaska          17013
79  Alaska          31275
80  Alaska          55400
85  Alaska          88995
76  Alaska          97581
71  Alaska         291826
    index  STNAME  CENSUS2010POP
0      96  Alaska            662
1      92  Alaska            968
2      73  Alaska            997
3      84  Alaska           1631
4      74  Alaska           1826
5      78  Alaska           2150
6      95  Alaska           2369
7      77  Alaska           2508
8      69  Alaska           3141
9      89  Alaska           3815
10     75  Alaska           4847
11     90  Alaska           5559
12     70  Alaska           5561
13     97  Alaska           5588
14     93  Alaska           7029
15     83  Alaska           7459
16     88  Alaska           7523
17     91  Alaska           8881
18     87  Alaska           9430
19     86  Alaska           9492
20     94  Alaska           9636
21     81  Alaska          13477
22     82  Alaska          13592
23     72  Alaska          17013
24     79  Alaska          31275
25     80  Alaska          55400
26     85  Alaska          88995
27     76  Alaska          97581
28     71  Alaska         291826
      STNAME  CENSUS2010POP
104  Arizona           8437
105  Arizona          20489
103  Arizona          37220
111  Arizona          47420
102  Arizona          53597
99   Arizona          71518
108  Arizona         107449
100  Arizona         131346
101  Arizona         134421
113  Arizona         195751
107  Arizona         200186
112  Arizona         211033
110  Arizona         375770
109  Arizona         980263
106  Arizona        3817117
    index   STNAME  CENSUS2010POP
0     104  Arizona           8437
1     105  Arizona          20489
2     103  Arizona          37220
3     111  Arizona          47420
4     102  Arizona          53597
5      99  Arizona          71518
6     108  Arizona         107449
7     100  Arizona         131346
8     101  Arizona         134421
9     113  Arizona         195751
10    107  Arizona         200186
11    112  Arizona         211033
12    110  Arizona         375770
13    109  Arizona         980263
14    106  Arizona        3817117
       STNAME  CENSUS2010POP
121  Arkansas           5368
188  Arkansas           7260
151  Arkansas           7645
134  Arkansas           8116
162  Arkansas           8149
179  Arkansas           8195
165  Arkansas           8330
127  Arkansas           8689
173  Arkansas           8715
164  Arkansas           8997
163  Arkansas           9487
153  Arkansas          10424
167  Arkansas          10445
178  Arkansas          11233
169  Arkansas          11291
120  Arkansas          11508
123  Arkansas          11800
139  Arkansas          12245
183  Arkansas          12394
135  Arkansas          13008
155  Arkansas          13171
147  Arkansas          13696
145  Arkansas          13789
154  Arkansas          14134
158  Arkansas          15717
125  Arkansas          16083
159  Arkansas          16653
181  Arkansas          17058
182  Arkansas          17264
185  Arkansas          17295
..        ...            ...
124  Arkansas          22995
128  Arkansas          24552
170  Arkansas          24583
150  Arkansas          25540
126  Arkansas          25970
166  Arkansas          26120
122  Arkansas          27446
176  Arkansas          28258
144  Arkansas          32923
146  Arkansas          36647
119  Arkansas          36903
117  Arkansas          41513
184  Arkansas          41639
142  Arkansas          42090
160  Arkansas          43462
161  Arkansas          46480
132  Arkansas          50902
172  Arkansas          61754
131  Arkansas          61948
157  Arkansas          68356
187  Arkansas          77076
149  Arkansas          77435
140  Arkansas          96024
130  Arkansas          96443
177  Arkansas         107118
137  Arkansas         113237
180  Arkansas         125744
186  Arkansas         203065
118  Arkansas         221339
174  Arkansas         382748

[75 rows x 2 columns]
    index    STNAME  CENSUS2010POP
0     121  Arkansas           5368
1     188  Arkansas           7260
2     151  Arkansas           7645
3     134  Arkansas           8116
4     162  Arkansas           8149
5     179  Arkansas           8195
6     165  Arkansas           8330
7     127  Arkansas           8689
8     173  Arkansas           8715
9     164  Arkansas           8997
10    163  Arkansas           9487
11    153  Arkansas          10424
12    167  Arkansas          10445
13    178  Arkansas          11233
14    169  Arkansas          11291
15    120  Arkansas          11508
16    123  Arkansas          11800
17    139  Arkansas          12245
18    183  Arkansas          12394
19    135  Arkansas          13008
20    155  Arkansas          13171
21    147  Arkansas          13696
22    145  Arkansas          13789
23    154  Arkansas          14134
24    158  Arkansas          15717
25    125  Arkansas          16083
26    159  Arkansas          16653
27    181  Arkansas          17058
28    182  Arkansas          17264
29    185  Arkansas          17295
..    ...       ...            ...
45    124  Arkansas          22995
46    128  Arkansas          24552
47    170  Arkansas          24583
48    150  Arkansas          25540
49    126  Arkansas          25970
50    166  Arkansas          26120
51    122  Arkansas          27446
52    176  Arkansas          28258
53    144  Arkansas          32923
54    146  Arkansas          36647
55    119  Arkansas          36903
56    117  Arkansas          41513
57    184  Arkansas          41639
58    142  Arkansas          42090
59    160  Arkansas          43462
60    161  Arkansas          46480
61    132  Arkansas          50902
62    172  Arkansas          61754
63    131  Arkansas          61948
64    157  Arkansas          68356
65    187  Arkansas          77076
66    149  Arkansas          77435
67    140  Arkansas          96024
68    130  Arkansas          96443
69    177  Arkansas         107118
70    137  Arkansas         113237
71    180  Arkansas         125744
72    186  Arkansas         203065
73    118  Arkansas         221339
74    174  Arkansas         382748

[75 rows x 3 columns]
         STNAME  CENSUS2010POP
192  California           1175
236  California           3240
215  California           9686
243  California          13786
216  California          14202
212  California          18251
204  California          18546
222  California          20007
196  California          21419
201  California          28122
198  California          28610
208  California          34895
193  California          38091
237  California          44900
195  California          45578
225  California          55269
245  California          55365
242  California          63463
207  California          64665
248  California          72155
213  California          87841
241  California          94737
219  California          98764
202  California         134623
218  California         136484
210  California         150865
206  California         152982
203  California         174528
235  California         177223
199  California         181058
247  California         200849
194  California         220000
211  California         252409
214  California         255793
234  California         262382
230  California         269637
221  California         348432
238  California         413344
217  California         415057
232  California         423895
244  California         442179
239  California         483878
240  California         514453
229  California         685306
231  California         718451
228  California         805235
246  California         823318
205  California         839631
200  California         930450
197  California        1049025
224  California        1418788
191  California        1510271
233  California        1781642
226  California        2035210
223  California        2189641
220  California        3010232
227  California        3095313
209  California        9818605
    index      STNAME  CENSUS2010POP
0     192  California           1175
1     236  California           3240
2     215  California           9686
3     243  California          13786
4     216  California          14202
5     212  California          18251
6     204  California          18546
7     222  California          20007
8     196  California          21419
9     201  California          28122
10    198  California          28610
11    208  California          34895
12    193  California          38091
13    237  California          44900
14    195  California          45578
15    225  California          55269
16    245  California          55365
17    242  California          63463
18    207  California          64665
19    248  California          72155
20    213  California          87841
21    241  California          94737
22    219  California          98764
23    202  California         134623
24    218  California         136484
25    210  California         150865
26    206  California         152982
27    203  California         174528
28    235  California         177223
29    199  California         181058
30    247  California         200849
31    194  California         220000
32    211  California         252409
33    214  California         255793
34    234  California         262382
35    230  California         269637
36    221  California         348432
37    238  California         413344
38    217  California         415057
39    232  California         423895
40    244  California         442179
41    239  California         483878
42    240  California         514453
43    229  California         685306
44    231  California         718451
45    228  California         805235
46    246  California         823318
47    205  California         839631
48    200  California         930450
49    197  California        1049025
50    224  California        1418788
51    191  California        1510271
52    233  California        1781642
53    226  California        2035210
54    223  California        2189641
55    220  California        3010232
56    227  California        3095313
57    209  California        9818605
       STNAME  CENSUS2010POP
306  Colorado            699
290  Colorado            712
277  Colorado            843
279  Colorado           1394
281  Colorado           1398
259  Colorado           1836
267  Colorado           2064
308  Colorado           2379
262  Colorado           3524
254  Colorado           3788
264  Colorado           4255
296  Colorado           4436
298  Colorado           4442
311  Colorado           4814
274  Colorado           5441
287  Colorado           5467
263  Colorado           5823
305  Colorado           6108
255  Colorado           6499
302  Colorado           6666
278  Colorado           6711
283  Colorado           7310
307  Colorado           7359
261  Colorado           8256
282  Colorado           8270
260  Colorado           9088
313  Colorado          10043
303  Colorado          11982
253  Colorado          12084
300  Colorado          12551
..        ...            ...
286  Colorado          15507
297  Colorado          16206
299  Colorado          17148
258  Colorado          17809
295  Colorado          18831
288  Colorado          22709
270  Colorado          23086
310  Colorado          23350
304  Colorado          23509
292  Colorado          25535
309  Colorado          27994
294  Colorado          28159
265  Colorado          30952
293  Colorado          41276
272  Colorado          46824
284  Colorado          51334
269  Colorado          52197
257  Colorado          55889
273  Colorado          56389
289  Colorado         146723
301  Colorado         159063
312  Colorado         252825
268  Colorado         285465
256  Colorado         294567
285  Colorado         299630
250  Colorado         441603
280  Colorado         534543
252  Colorado         572003
266  Colorado         600158
271  Colorado         622263

[64 rows x 2 columns]
    index    STNAME  CENSUS2010POP
0     306  Colorado            699
1     290  Colorado            712
2     277  Colorado            843
3     279  Colorado           1394
4     281  Colorado           1398
5     259  Colorado           1836
6     267  Colorado           2064
7     308  Colorado           2379
8     262  Colorado           3524
9     254  Colorado           3788
10    264  Colorado           4255
11    296  Colorado           4436
12    298  Colorado           4442
13    311  Colorado           4814
14    274  Colorado           5441
15    287  Colorado           5467
16    263  Colorado           5823
17    305  Colorado           6108
18    255  Colorado           6499
19    302  Colorado           6666
20    278  Colorado           6711
21    283  Colorado           7310
22    307  Colorado           7359
23    261  Colorado           8256
24    282  Colorado           8270
25    260  Colorado           9088
26    313  Colorado          10043
27    303  Colorado          11982
28    253  Colorado          12084
29    300  Colorado          12551
..    ...       ...            ...
34    286  Colorado          15507
35    297  Colorado          16206
36    299  Colorado          17148
37    258  Colorado          17809
38    295  Colorado          18831
39    288  Colorado          22709
40    270  Colorado          23086
41    310  Colorado          23350
42    304  Colorado          23509
43    292  Colorado          25535
44    309  Colorado          27994
45    294  Colorado          28159
46    265  Colorado          30952
47    293  Colorado          41276
48    272  Colorado          46824
49    284  Colorado          51334
50    269  Colorado          52197
51    257  Colorado          55889
52    273  Colorado          56389
53    289  Colorado         146723
54    301  Colorado         159063
55    312  Colorado         252825
56    268  Colorado         285465
57    256  Colorado         294567
58    285  Colorado         299630
59    250  Colorado         441603
60    280  Colorado         534543
61    252  Colorado         572003
62    266  Colorado         600158
63    271  Colorado         622263

[64 rows x 3 columns]
          STNAME  CENSUS2010POP
322  Connecticut         118428
321  Connecticut         152691
318  Connecticut         165676
317  Connecticut         189927
320  Connecticut         274055
319  Connecticut         862477
316  Connecticut         894014
315  Connecticut         916829
   index       STNAME  CENSUS2010POP
0    322  Connecticut         118428
1    321  Connecticut         152691
2    318  Connecticut         165676
3    317  Connecticut         189927
4    320  Connecticut         274055
5    319  Connecticut         862477
6    316  Connecticut         894014
7    315  Connecticut         916829
       STNAME  CENSUS2010POP
324  Delaware         162310
326  Delaware         197145
325  Delaware         538479
   index    STNAME  CENSUS2010POP
0    324  Delaware         162310
1    326  Delaware         197145
2    325  Delaware         538479
                   STNAME  CENSUS2010POP
328  District of Columbia         601723
   index                STNAME  CENSUS2010POP
0    328  District of Columbia         601723
      STNAME  CENSUS2010POP
367  Florida           8365
362  Florida           8870
347  Florida          11549
350  Florida          12884
336  Florida          14625
361  Florida          14761
352  Florida          14799
392  Florida          15535
351  Florida          15863
343  Florida          16422

      STNAME  CENSUS2010POP
528  Georgia           1717
515  Georgia           2513
549  Georgia           2799
459  Georgia           3082
427  Georgia           3183
401  Georgia           3451
447  Georgia           4034
520  Georgia           5010
546  Georgia           5834
525  Georgia           6058
497  Georgia           6125
416  Georgia           6694
429  Georgia           6798
527  Georgia           6865
537  Georgia           6885
550  Georgia           7421
517  Georgia           7719
487  Georgia           7996
479  Georgia           8340
399  Georgia           8375
522  Georgia           8729
495  Georgia           8742
530  Georgia           8906
539  Georgia           8930
540  Georgia           9023
500  Georgia           9123
553  Georgia           9255
532  Georgia           9315
467  Georgia           9429
474  Georgia           9538
..       ...            ...
460  Georgia          79626
544  Georgia          83768
519  Georgia          85215
444  Georgia          94565
454  Georgia          96317
504  Georgia          99958
405  Georgia         100157
552  Georgia         102599
453  Georgia         106567
489  Georgia         109233
419  Georgia         110527
426  Georgia         116714
433  Georgia         124053
435  Georgia         127317
445  Georgia         132403
473  Georgia         139900
507  Georgia         142324
408  Georgia         155547
455  Georgia         175511
466  Georgia         179684
503  Georgia         189885
518  Georgia         200549
472  Georgia         203922
425  Georgia         214346
428  Georgia         259424
422  Georgia         265128
430  Georgia         688078
441  Georgia         691893
464  Georgia         805321
457  Georgia         920581

[159 rows x 2 columns]
     index   STNAME  CENSUS2010POP
0      528  Georgia           1717
1      515  Georgia           2513
2      549  Georgia           2799
3      459  Georgia           3082
4      427  Georgia           3183
5      401  Georgia           3451
6      447  Georgia           4034
7      520  Georgia           5010
8      546  Georgia           5834
9      525  Georgia           6058
10     497  Georgia           6125
11     416  Georgia           6694
12     429  Georgia           6798
13     527  Georgia           6865
14     537  Georgia           6885
15     550  Georgia           7421
16     517  Georgia           7719
17     487  Georgia           7996
18     479  Georgia           8340
19     399  Georgia           8375
20     522  Georgia           8729
21     495  Georgia           8742
22     530  Georgia           8906
23     539  Georgia           8930
24     540  Georgia           9023
25     500  Georgia           9123
26     553  Georgia           9255
27     532  Georgia           9315
28     467  Georgia           9429
29     474  Georgia           9538
..     ...      ...            ...
129    460  Georgia          79626
130    544  Georgia          83768
131    519  Georgia          85215
132    444  Georgia          94565
133    454  Georgia          96317
134    504  Georgia          99958
135    405  Georgia         100157
136    552  Georgia         102599
137    453  Georgia         106567
138    489  Georgia         109233
139    419  Georgia         110527
140    426  Georgia         116714
141    433  Georgia         124053
142    435  Georgia         127317
143    445  Georgia         132403
144    473  Georgia         139900
145    507  Georgia         142324
146    408  Georgia         155547
147    455  Georgia         175511
148    466  Georgia         179684
149    503  Georgia         189885
150    518  Georgia         200549
151    472  Georgia         203922
152    425  Georgia         214346
153    428  Georgia         259424
154    422  Georgia         265128
155    430  Georgia         688078
156    441  Georgia         691893
157    464  Georgia         805321
158    457  Georgia         920581

[159 rows x 3 columns]
     STNAME  CENSUS2010POP
560  Hawaii             90
561  Hawaii          67091
562  Hawaii         154834
558  Hawaii         185079
559  Hawaii         953207
   index  STNAME  CENSUS2010POP
0    560  Hawaii             90
1    561  Hawaii          67091
2    562  Hawaii         154834
3    558  Hawaii         185079
4    559  Hawaii         953207
    STNAME  CENSUS2010POP
580  Idaho            982
576  Idaho           1117
575  Idaho           2891
594  Idaho           3821
565  Idaho           3976
599  Idaho           4286
582  Idaho           4368
595  Idaho           5208
567  Idaho           5986
578  Idaho           6963
571  Idaho           7028
602  Idaho           7817
593  Idaho           7936
581  Idaho           8761
568  Idaho           9285
606  Idaho           9862
604  Idaho          10170
607  Idaho          10198
574  Idaho          10972
600  Idaho          11526
603  Idaho          12765
584  Idaho          12786
585  Idaho          13242
587  Idaho          15464
588  Idaho          16267
586  Idaho          16719
597  Idaho          20069
570  Idaho          21376
590  Idaho          22374
601  Idaho          22623
579  Idaho          22952
589  Idaho          26140
583  Idaho          27038
592  Idaho          37244
596  Idaho          37536
598  Idaho          39265
572  Idaho          40877
569  Idaho          45607
605  Idaho          77230
566  Idaho          82839
573  Idaho         104234
591  Idaho         138494
577  Idaho         188923
564  Idaho         392365
    index STNAME  CENSUS2010POP
0     580  Idaho            982
1     576  Idaho           1117
2     575  Idaho           2891
3     594  Idaho           3821
4     565  Idaho           3976
5     599  Idaho           4286
6     582  Idaho           4368
7     595  Idaho           5208
8     567  Idaho           5986
9     578  Idaho           6963
10    571  Idaho           7028
11    602  Idaho           7817
12    593  Idaho           7936
13    581  Idaho           8761
14    568  Idaho           9285
15    606  Idaho           9862
16    604  Idaho          10170
17    607  Idaho          10198
18    574  Idaho          10972
19    600  Idaho          11526
20    603  Idaho          12765
21    584  Idaho          12786
22    585  Idaho          13242
23    587  Idaho          15464
24    588  Idaho          16267
25    586  Idaho          16719
26    597  Idaho          20069
27    570  Idaho          21376
28    590  Idaho          22374
29    601  Idaho          22623
30    579  Idaho          22952
31    589  Idaho          26140
32    583  Idaho          27038
33    592  Idaho          37244
34    596  Idaho          37536
35    598  Idaho          39265
36    572  Idaho          40877
37    569  Idaho          45607
38    605  Idaho          77230
39    566  Idaho          82839
40    573  Idaho         104234
41    591  Idaho         138494
42    577  Idaho         188923
43    564  Idaho         392365
       STNAME  CENSUS2010POP
643  Illinois           4320
684  Illinois           4470
615  Illinois           5089
694  Illinois           5355
638  Illinois           5589
696  Illinois           5994
686  Illinois           6006
685  Illinois           6161
632  Illinois           6721
613  Illinois           6937
644  Illinois           7331
693  Illinois           7544
610  Illinois           8238
641  Illinois           8457
648  Illinois           9698
626  Illinois          11048
701  Illinois          11947
652  Illinois          12582
670  Illinois          12640
673  Illinois          12705
617  Illinois          13642
621  Illinois          13815
639  Illinois          13886
635  Illinois          14081
705  Illinois          14665
671  Illinois          14666
703  Illinois          14716
678  Illinois          14846
616  Illinois          15387
672  Illinois          15429
..        ...            ...
645  Illinois          50486
656  Illinois          52919
679  Illinois          53497
623  Illinois          53873
612  Illinois          54165
706  Illinois          58498
647  Illinois          60218
708  Illinois          66357
609  Illinois          67103
700  Illinois          81625
627  Illinois         105160
666  Illinois         110768
654  Illinois         113449
658  Illinois         113924
655  Illinois         114736
698  Illinois         135394
689  Illinois         147546
665  Illinois         169572
680  Illinois         186494
692  Illinois         197465
618  Illinois         201081
668  Illinois         269282
690  Illinois         270056
709  Illinois         295266
664  Illinois         308760
653  Illinois         515269
707  Illinois         677560
657  Illinois         703462
630  Illinois         916924
624  Illinois        5194675

[102 rows x 2 columns]
     index    STNAME  CENSUS2010POP
0      643  Illinois           4320
1      684  Illinois           4470
2      615  Illinois           5089
3      694  Illinois           5355
4      638  Illinois           5589
5      696  Illinois           5994
6      686  Illinois           6006
7      685  Illinois           6161
8      632  Illinois           6721
9      613  Illinois           6937
10     644  Illinois           7331
11     693  Illinois           7544
12     610  Illinois           8238
13     641  Illinois           8457
14     648  Illinois           9698
15     626  Illinois          11048
16     701  Illinois          11947
17     652  Illinois          12582
18     670  Illinois          12640
19     673  Illinois          12705
20     617  Illinois          13642
21     621  Illinois          13815
22     639  Illinois          13886
23     635  Illinois          14081
24     705  Illinois          14665
25     671  Illinois          14666
26     703  Illinois          14716
27     678  Illinois          14846
28     616  Illinois          15387
29     672  Illinois          15429
..     ...       ...            ...
72     645  Illinois          50486
73     656  Illinois          52919
74     679  Illinois          53497
75     623  Illinois          53873
76     612  Illinois          54165
77     706  Illinois          58498
78     647  Illinois          60218
79     708  Illinois          66357
80     609  Illinois          67103
81     700  Illinois          81625
82     627  Illinois         105160
83     666  Illinois         110768
84     654  Illinois         113449
85     658  Illinois         113924
86     655  Illinois         114736
87     698  Illinois         135394
88     689  Illinois         147546
89     665  Illinois         169572
90     680  Illinois         186494
91     692  Illinois         197465
92     618  Illinois         201081
93     668  Illinois         269282
94     690  Illinois         270056
95     709  Illinois         295266
96     664  Illinois         308760
97     653  Illinois         515269
98     707  Illinois         677560
99     657  Illinois         703462
100    630  Illinois         916924
101    624  Illinois        5194675

[102 rows x 3 columns]
      STNAME  CENSUS2010POP
769  Indiana           6128
792  Indiana           7516
797  Indiana           8508
715  Indiana           8854
762  Indiana          10334
789  Indiana          10613
724  Indiana          10713
716  Indiana          12766
774  Indiana          12845
777  Indiana          13402
767  Indiana          14244
718  Indiana          15242
791  Indiana          15936
794  Indiana          16212
734  Indiana          17240
772  Indiana          17339
781  Indiana          17392
773  Indiana          19338
770  Indiana          19840
719  Indiana          20155
736  Indiana          20836
785  Indiana          20952
749  Indiana          21253
788  Indiana          21475
771  Indiana          21575
735  Indiana          23087
786  Indiana          23363
783  Indiana          24181
732  Indiana          24277
802  Indiana          24643
..       ...            ...
768  Indiana          47536
744  Indiana          49462
726  Indiana          50047
717  Indiana          56640
798  Indiana          59689
766  Indiana          68894
800  Indiana          68917
741  Indiana          70002
738  Indiana          70061
733  Indiana          74578
714  Indiana          76794
754  Indiana          77358
745  Indiana          82752
795  Indiana         107848
721  Indiana         110232
757  Indiana         111467
729  Indiana         117671
759  Indiana         131636
764  Indiana         137974
752  Indiana         139654
743  Indiana         145448
775  Indiana         164343
790  Indiana         172780
793  Indiana         179703
731  Indiana         197559
782  Indiana         266931
740  Indiana         274569
713  Indiana         355329
756  Indiana         496005
760  Indiana         903393

[92 rows x 2 columns]
    index   STNAME  CENSUS2010POP
0     769  Indiana           6128
1     792  Indiana           7516
2     797  Indiana           8508
3     715  Indiana           8854
4     762  Indiana          10334
5     789  Indiana          10613
6     724  Indiana          10713
7     716  Indiana          12766
8     774  Indiana          12845
9     777  Indiana          13402
10    767  Indiana          14244
11    718  Indiana          15242
12    791  Indiana          15936
13    794  Indiana          16212
14    734  Indiana          17240
15    772  Indiana          17339
16    781  Indiana          17392
17    773  Indiana          19338
18    770  Indiana          19840
19    719  Indiana          20155
20    736  Indiana          20836
21    785  Indiana          20952
22    749  Indiana          21253
23    788  Indiana          21475
24    771  Indiana          21575
25    735  Indiana          23087
26    786  Indiana          23363
27    783  Indiana          24181
28    732  Indiana          24277
29    802  Indiana          24643
..    ...      ...            ...
62    768  Indiana          47536
63    744  Indiana          49462
64    726  Indiana          50047
65    717  Indiana          56640
66    798  Indiana          59689
67    766  Indiana          68894
68    800  Indiana          68917
69    741  Indiana          70002
70    738  Indiana          70061
71    733  Indiana          74578
72    714  Indiana          76794
73    754  Indiana          77358
74    745  Indiana          82752
75    795  Indiana         107848
76    721  Indiana         110232
77    757  Indiana         111467
78    729  Indiana         117671
79    759  Indiana         131636
80    764  Indiana         137974
81    752  Indiana         139654
82    743  Indiana         145448
83    775  Indiana         164343
84    790  Indiana         172780
85    793  Indiana         179703
86    731  Indiana         197559
87    782  Indiana         266931
88    740  Indiana         274569
89    713  Indiana         355329
90    756  Indiana         496005
91    760  Indiana         903393

[92 rows x 3 columns]
    STNAME  CENSUS2010POP
806   Iowa           4029
884   Iowa           5131
809   Iowa           6119
891   Iowa           6317
897   Iowa           6403
876   Iowa           6462
851   Iowa           7089
880   Iowa           7310
840   Iowa           7441
893   Iowa           7570
902   Iowa           7598
805   Iowa           7682
872   Iowa           7970
831   Iowa           8457
830   Iowa           8753
863   Iowa           8898
871   Iowa           9243
824   Iowa           9286
841   Iowa           9336
878   Iowa           9421
849   Iowa           9566
817   Iowa           9670
850   Iowa           9815
836   Iowa          10302
885   Iowa          10350
858   Iowa          10511
839   Iowa          10680
873   Iowa          10740
870   Iowa          10776
899   Iowa          10866
..     ...            ...
814   Iowa          20958
900   Iowa          21056
896   Iowa          21704
866   Iowa          22381
813   Iowa          24276
879   Iowa          24986
810   Iowa          26076
812   Iowa          26306
867   Iowa          33309
888   Iowa          33704
894   Iowa          35625
860   Iowa          35862
854   Iowa          36842
898   Iowa          38013
833   Iowa          40325
868   Iowa          40648
874   Iowa          42745
821   Iowa          44151
895   Iowa          46225
827   Iowa          49116
829   Iowa          66135
889   Iowa          89542
882   Iowa          93158
835   Iowa          93653
901   Iowa         102172
856   Iowa         130882
811   Iowa         131090
886   Iowa         165224
861   Iowa         211226
881   Iowa         430640

[99 rows x 2 columns]
    index STNAME  CENSUS2010POP
0     806   Iowa           4029
1     884   Iowa           5131
2     809   Iowa           6119
3     891   Iowa           6317
4     897   Iowa           6403
5     876   Iowa           6462
6     851   Iowa           7089
7     880   Iowa           7310
8     840   Iowa           7441
9     893   Iowa           7570
10    902   Iowa           7598
11    805   Iowa           7682
12    872   Iowa           7970
13    831   Iowa           8457
14    830   Iowa           8753
15    863   Iowa           8898
16    871   Iowa           9243
17    824   Iowa           9286
18    841   Iowa           9336
19    878   Iowa           9421
20    849   Iowa           9566
21    817   Iowa           9670
22    850   Iowa           9815
23    836   Iowa          10302
24    885   Iowa          10350
25    858   Iowa          10511
26    839   Iowa          10680
27    873   Iowa          10740
28    870   Iowa          10776
29    899   Iowa          10866
..    ...    ...            ...
69    814   Iowa          20958
70    900   Iowa          21056
71    896   Iowa          21704
72    866   Iowa          22381
73    813   Iowa          24276
74    879   Iowa          24986
75    810   Iowa          26076
76    812   Iowa          26306
77    867   Iowa          33309
78    888   Iowa          33704
79    894   Iowa          35625
80    860   Iowa          35862
81    854   Iowa          36842
82    898   Iowa          38013
83    833   Iowa          40325
84    868   Iowa          40648
85    874   Iowa          42745
86    821   Iowa          44151
87    895   Iowa          46225
88    827   Iowa          49116
89    829   Iowa          66135
90    889   Iowa          89542
91    882   Iowa          93158
92    835   Iowa          93653
93    901   Iowa         102172
94    856   Iowa         130882
95    811   Iowa         131090
96    886   Iowa         165224
97    861   Iowa         211226
98    881   Iowa         430640

[99 rows x 3 columns]
      STNAME  CENSUS2010POP
940   Kansas           1247
1004  Kansas           1485
955   Kansas           1750
921   Kansas           1891
946   Kansas           1916
917   Kansas           2215
1006  Kansas           2234
998   Kansas           2235
981   Kansas           2519
953   Kansas           2553
994   Kansas           2556
937   Kansas           2597
942   Kansas           2690
936   Kansas           2695
916   Kansas           2726
959   Kansas           2756
913   Kansas           2790
929   Kansas           2882
924   Kansas           2961
1002  Kansas           3001
928   Kansas           3037
949   Kansas           3077
972   Kansas           3107
969   Kansas           3233
957   Kansas           3241
987   Kansas           3307
1008  Kansas           3309
914   Kansas           3669
996   Kansas           3853
975   Kansas           3858
...      ...            ...
948   Kansas          19126
925   Kansas          19754
915   Kansas          21603
979   Kansas          21604
954   Kansas          21607
992   Kansas          22952
1000  Kansas          24132
934   Kansas          25992
909   Kansas          27674
930   Kansas          28452
961   Kansas          29180
965   Kansas          32787
960   Kansas          33690
933   Kansas          33848
935   Kansas          34362
944   Kansas          34684
967   Kansas          35471
922   Kansas          36311
932   Kansas          36776
923   Kansas          39134

    index     STNAME  CENSUS2010POP
0    1185  Louisiana           5252
1    1143  Louisiana           6839
2    1149  Louisiana           7759
3    1172  Louisiana           9091
4    1142  Louisiana          10132
5    1144  Louisiana          10407
6    1177  Louisiana          11203
7    1193  Louisiana          11604
8    1164  Louisiana          12093
9    1138  Louisiana          14353
10   1161  Louisiana          14890
11   1195  Louisiana          15313
12   1194  Louisiana          15625
13   1156  Louisiana          16274
14   1145  Louisiana          17195
15   1150  Louisiana          20267
16   1173  Louisiana          20725
17   1152  Louisiana          20767
18   1146  Louisiana          20822
19   1178  Louisiana          22102
20   1153  Louisiana          22309
21   1187  Louisiana          22721
22   1170  Louisiana          22802
23   1169  Louisiana          23042
24   1135  Louisiana          23421
25   1192  Louisiana          23788
26   1174  Louisiana          24233
27   1133  Louisiana          25764
28   1147  Louisiana          26656
29   1165  Louisiana          27979
..    ...        ...            ...
34   1175  Louisiana          35897
35   1166  Louisiana          39566
36   1191  Louisiana          41207
37   1136  Louisiana          42073
38   1179  Louisiana          45924
39   1162  Louisiana          46735
40   1190  Louisiana          47168
41   1181  Louisiana          52160
42   1189  Louisiana          52334
43   1176  Louisiana          52780
44   1182  Louisiana          54650
45   1188  Louisiana          57999
46   1132  Louisiana          61773
47   1154  Louisiana          73240
48   1180  Louisiana          83384
49   1160  Louisiana          96318
50   1134  Louisiana         107215
51   1186  Louisiana         111860
52   1139  Louisiana         116979
53   1184  Louisiana         121097
54   1163  Louisiana         128026
55   1171  Louisiana         131613
56   1168  Louisiana         153720
57   1141  Louisiana         192768
58   1159  Louisiana         221578
59   1183  Louisiana         233740
60   1140  Louisiana         254969
61   1167  Louisiana         343829
62   1157  Louisiana         432552
63   1148  Louisiana         440171

[64 rows x 3 columns]
     STNAME  CENSUS2010POP
1207  Maine          17535
1200  Maine          30768
1211  Maine          32856
1204  Maine          34457
1208  Maine          35293
1210  Maine          38786
1203  Maine          39736
1209  Maine          52228
1201  Maine          54418
1205  Maine          57833
1198  Maine          71870
1197  Maine         107702
1202  Maine         122151
1206  Maine         153923
1212  Maine         197131
1199  Maine         281674
    index STNAME  CENSUS2010POP
0    1207  Maine          17535
1    1200  Maine          30768
2    1211  Maine          32856
3    1204  Maine          34457
4    1208  Maine          35293
5    1210  Maine          38786
6    1203  Maine          39736
7    1209  Maine          52228
8    1201  Maine          54418
9    1205  Maine          57833
10   1198  Maine          71870
11   1197  Maine         107702
12   1202  Maine         122151
13   1206  Maine         153923
14   1212  Maine         197131
15   1199  Maine         281674
        STNAME  CENSUS2010POP
1227  Maryland          20197
1232  Maryland          26470
1224  Maryland          30097
1222  Maryland          32618
1218  Maryland          33066
1233  Maryland          37782
1230  Maryland          47798
1236  Maryland          51454
1214  Maryland          75087
1217  Maryland          88737
1235  Maryland          98733
1220  Maryland         101108
1231  Maryland         105151
1221  Maryland         146551
1234  Maryland         147430
1219  Maryland         167134
1223  Maryland         233385
1225  Maryland         244826
1226  Maryland         287085
1215  Maryland         537656
1237  Maryland         620961
1216  Maryland         805029
1229  Maryland         863420
1228  Maryland         971777
    index    STNAME  CENSUS2010POP
0    1227  Maryland          20197
1    1232  Maryland          26470
2    1224  Maryland          30097
3    1222  Maryland          32618
4    1218  Maryland          33066
5    1233  Maryland          37782
6    1230  Maryland          47798
7    1236  Maryland          51454
8    1214  Maryland          75087
9    1217  Maryland          88737
10   1235  Maryland          98733
11   1220  Maryland         101108
12   1231  Maryland         105151
13   1221  Maryland         146551
14   1234  Maryland         147430
15   1219  Maryland         167134
16   1223  Maryland         233385
17   1225  Maryland         244826
18   1226  Maryland         287085
19   1215  Maryland         537656
20   1237  Maryland         620961
21   1216  Maryland         805029
22   1229  Maryland         863420
23   1228  Maryland         971777
             STNAME  CENSUS2010POP
1248  Massachusetts          10172
1242  Massachusetts          16535
1244  Massachusetts          71372
1240  Massachusetts         131219
1246  Massachusetts         158080
1239  Massachusetts         215888
1245  Massachusetts         463490
1250  Massachusetts         494919
1241  Massachusetts         548285
1249  Massachusetts         670850
1251  Massachusetts         722023
1243  Massachusetts         743159
1252  Massachusetts         798552
1247  Massachusetts        1503085
    index         STNAME  CENSUS2010POP
0    1248  Massachusetts          10172
1    1242  Massachusetts          16535
2    1244  Massachusetts          71372
3    1240  Massachusetts         131219
4    1246  Massachusetts         158080
5    1239  Massachusetts         215888
6    1245  Massachusetts         463490
7    1250  Massachusetts         494919
8    1241  Massachusetts         548285
9    1249  Massachusetts         670850
10   1251  Massachusetts         722023
11   1243  Massachusetts         743159
12   1252  Massachusetts         798552
13   1247  Massachusetts        1503085
        STNAME  CENSUS2010POP
1295  Michigan           2156
1301  Michigan           6631
1319  Michigan           6780
1330  Michigan           8485
1321  Michigan           8640
1260  Michigan           8860
1255  Michigan           9601
1313  Michigan           9765
1254  Michigan          10942
1302  Michigan          11113
1296  Michigan          11539
1289  Michigan          11817
1324  Michigan          13376
1273  Michigan          14074
1310  Michigan          14849
1259  Michigan          15899
1280  Michigan          16427
1293  Michigan          17153
1263  Michigan          17525
1318  Michigan          21699
1298  Michigan          21708
1320  Michigan          23528
1258  Michigan          23580
1308  Michigan          24029
1322  Michigan          24164
1325  Michigan          24449
1304  Michigan          24733
1279  Michigan          25692
1288  Michigan          25887
1268  Michigan          25949
...        ...            ...
1287  Michigan          63905
1305  Michigan          67077
1290  Michigan          70311
1331  Michigan          70648
1272  Michigan          75382
1333  Michigan          76258
1309  Michigan          83629
1281  Michigan          86986
1297  Michigan          88319
1299  Michigan          99892
1276  Michigan         107759
1262  Michigan         107771
1256  Michigan         111408
1266  Michigan         136146
1311  Michigan         152021
1264  Michigan         156813
1291  Michigan         160248
1327  Michigan         163040
1314  Michigan         172188
1300  Michigan         180967
1326  Michigan         200169
1292  Michigan         250331
1323  Michigan         263801
1286  Michigan         280895
1334  Michigan         344791
1278  Michigan         425790
1294  Michigan         602622
1303  Michigan         840978
1316  Michigan        1202362
1335  Michigan        1820584

[83 rows x 2 columns]
    index    STNAME  CENSUS2010POP
0    1295  Michigan           2156
1    1301  Michigan           6631
2    1319  Michigan           6780
3    1330  Michigan           8485
4    1321  Michigan           8640
5    1260  Michigan           8860
6    1255  Michigan           9601
7    1313  Michigan           9765
8    1254  Michigan          10942
9    1302  Michigan          11113
10   1296  Michigan          11539
11   1289  Michigan          11817
12   1324  Michigan          13376
13   1273  Michigan          14074
14   1310  Michigan          14849
15   1259  Michigan          15899
16   1280  Michigan          16427
17   1293  Michigan          17153
18   1263  Michigan          17525
19   1318  Michigan          21699
20   1298  Michigan          21708
21   1320  Michigan          23528
22   1258  Michigan          23580
23   1308  Michigan          24029
24   1322  Michigan          24164
25   1325  Michigan          24449
26   1304  Michigan          24733
27   1279  Michigan          25692
28   1288  Michigan          25887
29   1268  Michigan          25949
..    ...       ...            ...
53   1287  Michigan          63905
54   1305  Michigan          67077
55   1290  Michigan          70311
56   1331  Michigan          70648
57   1272  Michigan          75382
58   1333  Michigan          76258
59   1309  Michigan          83629
60   1281  Michigan          86986
61   1297  Michigan          88319
62   1299  Michigan          99892
63   1276  Michigan         107759
64   1262  Michigan         107771
65   1256  Michigan         111408
66   1266  Michigan         136146
67   1311  Michigan         152021
68   1264  Michigan         156813
69   1291  Michigan         160248
70   1327  Michigan         163040
71   1314  Michigan         172188
72   1300  Michigan         180967
73   1326  Michigan         200169
74   1292  Michigan         250331
75   1323  Michigan         263801
76   1286  Michigan         280895
77   1334  Michigan         344791
78   1278  Michigan         425790
79   1294  Michigan         602622
80   1303  Michigan         840978
81   1316  Michigan        1202362
82   1335  Michigan        1820584

[83 rows x 3 columns]
         STNAME  CENSUS2010POP
1415  Minnesota           3558
1376  Minnesota           4045
1400  Minnesota           4089
1372  Minnesota           4552
1353  Minnesota           5176
1343  Minnesota           5269
1381  Minnesota           5413
1378  Minnesota           5896
1363  Minnesota           6018
1421  Minnesota           6576
1391  Minnesota           6852
1374  Minnesota           7259
1352  Minnesota           8695
1388  Minnesota           8725
1382  Minnesota           9439
1396  Minnesota           9596
1404  Minnesota           9687
1412  Minnesota           9726
1413  Minnesota           9783
1369  Minnesota          10266
1424  Minnesota          10438
1375  Minnesota          10866
1398  Minnesota          10995
1420  Minnesota          11211
1354  Minnesota          11687
1349  Minnesota          12441
1373  Minnesota          13311
1417  Minnesota          13843
1394  Minnesota          13930
1359  Minnesota          14553
...         ...            ...
1346  Minnesota          35386
1358  Minnesota          36009
1411  Minnesota          36576
1380  Minnesota          36651
1367  Minnesota          37816
1342  Minnesota          38451
1387  Minnesota          39163
1371  Minnesota          42239
1341  Minnesota          44442
1368  Minnesota          45058
1362  Minnesota          46183
1422  Minnesota          51461
1350  Minnesota          53887
1393  Minnesota          57303
1351  Minnesota          58999
1355  Minnesota          62500
1344  Minnesota          64013
1403  Minnesota          64142
1408  Minnesota          88499
1347  Minnesota          91042
1423  Minnesota         124700
1407  Minnesota         129928
1392  Minnesota         144248
1410  Minnesota         150642
1406  Minnesota         200226
1419  Minnesota         238136
1339  Minnesota         330844
1356  Minnesota         398552
1399  Minnesota         508640
1364  Minnesota        1152425

[87 rows x 2 columns]
    index     STNAME  CENSUS2010POP
0    1415  Minnesota           3558
1    1376  Minnesota           4045
2    1400  Minnesota           4089
3    1372  Minnesota           4552
4    1353  Minnesota           5176
5    1343  Minnesota           5269
6    1381  Minnesota           5413
7    1378  Minnesota           5896
8    1363  Minnesota           6018
9    1421  Minnesota           6576
10   1391  Minnesota           6852
11   1374  Minnesota           7259
12   1352  Minnesota           8695
13   1388  Minnesota           8725
14   1382  Minnesota           9439
15   1396  Minnesota           9596
16   1404  Minnesota           9687
17   1412  Minnesota           9726
18   1413  Minnesota           9783
19   1369  Minnesota          10266
20   1424  Minnesota          10438
21   1375  Minnesota          10866
22   1398  Minnesota          10995
23   1420  Minnesota          11211
24   1354  Minnesota          11687
25   1349  Minnesota          12441
26   1373  Minnesota          13311
27   1417  Minnesota          13843
28   1394  Minnesota          13930
29   1359  Minnesota          14553
..    ...        ...            ...
57   1346  Minnesota          35386
58   1358  Minnesota          36009
59   1411  Minnesota          36576
60   1380  Minnesota          36651
61   1367  Minnesota          37816
62   1342  Minnesota          38451
63   1387  Minnesota          39163
64   1371  Minnesota          42239
65   1341  Minnesota          44442
66   1368  Minnesota          45058
67   1362  Minnesota          46183
68   1422  Minnesota          51461
69   1350  Minnesota          53887
70   1393  Minnesota          57303
71   1351  Minnesota          58999
72   1355  Minnesota          62500
73   1344  Minnesota          64013
74   1403  Minnesota          64142
75   1408  Minnesota          88499
76   1347  Minnesota          91042
77   1423  Minnesota         124700
78   1407  Minnesota         129928
79   1392  Minnesota         144248
80   1410  Minnesota         150642
81   1406  Minnesota         200226
82   1419  Minnesota         238136
83   1339  Minnesota         330844
84   1356  Minnesota         398552
85   1399  Minnesota         508640
86   1364  Minnesota        1152425

[87 rows x 3 columns]
           STNAME  CENSUS2010POP
1453  Mississippi           1406
1488  Mississippi           4916
1457  Mississippi           7726
1444  Mississippi           8118
1485  Mississippi           8223
1435  Mississippi           8547
1430  Mississippi           8729
1452  Mississippi           9375
1436  Mississippi           9604
1504  Mississippi           9878
1503  Mississippi          10253
1460  Mississippi          10456
1433  Mississippi          10597
1497  Mississippi          10778
1474  Mississippi          10925
1477  Mississippi          11545
1481  Mississippi          12250
1458  Mississippi          12487
1506  Mississippi          12678
1464  Mississippi          12929
1428  Mississippi          13131
1446  Mississippi          14400
1432  Mississippi          14962
1493  Mississippi          15378
1499  Mississippi          15443
1490  Mississippi          16491
1437  Mississippi          16732
1456  Mississippi          17062
1434  Mississippi          17392
1491  Mississippi          17786
...           ...            ...
1492  Mississippi          29450
1475  Mississippi          29676
1483  Mississippi          29957
1426  Mississippi          32297
1467  Mississippi          32317
1431  Mississippi          34145
1479  Mississippi          34707
1468  Mississippi          34869
1473  Mississippi          36989
1427  Mississippi          37057
1472  Mississippi          37144
1482  Mississippi          40404
1448  Mississippi          43929
1461  Mississippi          47351
1478  Mississippi          47671
1500  Mississippi          48773
1501  Mississippi          51137
1462  Mississippi          55658
1480  Mississippi          55834
1469  Mississippi          59779
1459  Mississippi          67761
1443  Mississippi          74934
1463  Mississippi          80261
1466  Mississippi          82910
1470  Mississippi          95203
1455  Mississippi         139668
1486  Mississippi         141617
1442  Mississippi         161252
1449  Mississippi         187105
1450  Mississippi         245285

[82 rows x 2 columns]
    index       STNAME  CENSUS2010POP
0    1453  Mississippi           1406
1    1488  Mississippi           4916
2    1457  Mississippi           7726
3    1444  Mississippi           8118
4    1485  Mississippi           8223
5    1435  Mississippi           8547
6    1430  Mississippi           8729
7    1452  Mississippi           9375
8    1436  Mississippi           9604
9    1504  Mississippi           9878
10   1503  Mississippi          10253
11   1460  Mississippi          10456
12   1433  Mississippi          10597
13   1497  Mississippi          10778
14   1474  Mississippi          10925
15   1477  Mississippi          11545
16   1481  Mississippi          12250
17   1458  Mississippi          12487
18   1506  Mississippi          12678
19   1464  Mississippi          12929
20   1428  Mississippi          13131
21   1446  Mississippi          14400
22   1432  Mississippi          14962
23   1493  Mississippi          15378
24   1499  Mississippi          15443
25   1490  Mississippi          16491
26   1437  Mississippi          16732
27   1456  Mississippi          17062
28   1434  Mississippi          17392
29   1491  Mississippi          17786
..    ...          ...            ...
52   1492  Mississippi          29450
53   1475  Mississippi          29676
54   1483  Mississippi          29957
55   1426  Mississippi          32297
56   1467  Mississippi          32317
57   1431  Mississippi          34145
58   1479  Mississippi          34707
59   1468  Mississippi          34869
60   1473  Mississippi          36989
61   1427  Mississippi          37057
62   1472  Mississippi          37144
63   1482  Mississippi          40404
64   1448  Mississippi          43929
65   1461  Mississippi          47351
66   1478  Mississippi          47671
67   1500  Mississippi          48773
68   1501  Mississippi          51137
69   1462  Mississippi          55658
70   1480  Mississippi          55834
71   1469  Mississippi          59779
72   1459  Mississippi          67761
73   1443  Mississippi          74934
74   1463  Mississippi          80261
75   1466  Mississippi          82910
76   1470  Mississippi          95203
77   1455  Mississippi         139668
78   1486  Mississippi         141617
79   1442  Mississippi         161252
80   1449  Mississippi         187105
81   1450  Mississippi         245285

[82 rows x 3 columns]
        STNAME  CENSUS2010POP
1621  Missouri           2171
1573  Missouri           3785
1560  Missouri           4131
1606  Missouri           4431
1607  Missouri           4843
1552  Missouri           4912
1594  Missouri           4979
1511  Missouri           5685
1526  Missouri           6265
1610  Missouri           6373
1598  Missouri           6696
1613  Missouri           6714
1546  Missouri           6738
1531  Missouri           7139
1529  Missouri           7831
1537  Missouri           7883
1539  Missouri           8433
1609  Missouri           8441
1577  Missouri           8840
1549  Missouri           8957
1571  Missouri           9176
1525  Missouri           9295
1521  Missouri           9424
1551  Missouri           9627
1585  Missouri           9723
1601  Missouri           9805
1553  Missouri          10144
1595  Missouri          10167
1564  Missouri          10211
1548  Missouri          10261
...        ...            ...
1563  Missouri          38634
1608  Missouri          39191
1554  Missouri          40400
1588  Missouri          42201
1520  Missouri          42794
1523  Missouri          44002
1522  Missouri          44332
1589  Missouri          45156
1614  Missouri          51675
1593  Missouri          52274

        STNAME  CENSUS2010POP
1684  Nebraska            460
1686  Nebraska            478
1740  Nebraska            539
1719  Nebraska            614
1739  Nebraska            632
1767  Nebraska            647
1685  Nebraska            690
1727  Nebraska            736
1738  Nebraska            763
1773  Nebraska            818
1733  Nebraska            824
1724  Nebraska            967
1764  Nebraska           1311
1756  Nebraska           1526
1706  Nebraska           1941
1710  Nebraska           2008
1718  Nebraska           2044
1717  Nebraska           2049
1716  Nebraska           2057
1689  Nebraska           2099
1720  Nebraska           2538
1713  Nebraska           2756
1748  Nebraska           2773
1725  Nebraska           2908
1749  Nebraska           2970
1690  Nebraska           3145
1763  Nebraska           3152
1712  Nebraska           3225
1723  Nebraska           3423
1744  Nebraska           3735
...        ...            ...
1704  Nebraska           9182
1750  Nebraska           9188
1771  Nebraska           9595
1698  Nebraska           9998
1726  Nebraska          10435
1700  Nebraska          10515
1702  Nebraska          10939
1754  Nebraska          11055
1688  Nebraska          11308
1774  Nebraska          13665
1757  Nebraska          14200
1747  Nebraska          15740
1761  Nebraska          16750
1770  Nebraska          20234
1759  Nebraska          20780
1703  Nebraska          21006
1715  Nebraska          22311
1705  Nebraska          24326
1694  Nebraska          25241
1682  Nebraska          31364
1752  Nebraska          32237
1741  Nebraska          34876
1737  Nebraska          36288
1708  Nebraska          36691
1760  Nebraska          36970
1691  Nebraska          46102
1721  Nebraska          58607
1758  Nebraska         158840
1736  Nebraska         285407
1709  Nebraska         517110

[93 rows x 2 columns]
    index    STNAME  CENSUS2010POP
0    1684  Nebraska            460
1    1686  Nebraska            478
2    1740  Nebraska            539
3    1719  Nebraska            614
4    1739  Nebraska            632
5    1767  Nebraska            647
6    1685  Nebraska            690
7    1727  Nebraska            736
8    1738  Nebraska            763
9    1773  Nebraska            818
10   1733  Nebraska            824
11   1724  Nebraska            967
12   1764  Nebraska           1311
13   1756  Nebraska           1526
14   1706  Nebraska           1941
15   1710  Nebraska           2008
16   1718  Nebraska           2044
17   1717  Nebraska           2049
18   1716  Nebraska           2057
19   1689  Nebraska           2099
20   1720  Nebraska           2538
21   1713  Nebraska           2756
22   1748  Nebraska           2773
23   1725  Nebraska           2908
24   1749  Nebraska           2970
25   1690  Nebraska           3145
26   1763  Nebraska           3152
27   1712  Nebraska           3225
28   1723  Nebraska           3423
29   1744  Nebraska           3735
..    ...       ...            ...
63   1704  Nebraska           9182
64   1750  Nebraska           9188
65   1771  Nebraska           9595
66   1698  Nebraska           9998
67   1726  Nebraska          10435
68   1700  Nebraska          10515
69   1702  Nebraska          10939
70   1754  Nebraska          11055
71   1688  Nebraska          11308
72   1774  Nebraska          13665
73   1757  Nebraska          14200
74   1747  Nebraska          15740
75   1761  Nebraska          16750
76   1770  Nebraska          20234
77   1759  Nebraska          20780
78   1703  Nebraska          21006
79   1715  Nebraska          22311
80   1705  Nebraska          24326
81   1694  Nebraska          25241
82   1682  Nebraska          31364
83   1752  Nebraska          32237
84   1741  Nebraska          34876
85   1737  Nebraska          36288
86   1708  Nebraska          36691
87   1760  Nebraska          36970
88   1691  Nebraska          46102
89   1721  Nebraska          58607
90   1758  Nebraska         158840
91   1736  Nebraska         285407
92   1709  Nebraska         517110

[93 rows x 3 columns]
      STNAME  CENSUS2010POP
1780  Nevada            783
1781  Nevada           1987
1789  Nevada           4010
1786  Nevada           4772
1784  Nevada           5345
1783  Nevada           5775
1788  Nevada           6753
1791  Nevada          10030
1782  Nevada          16528
1776  Nevada          24877
1787  Nevada          43946
1778  Nevada          46997
1779  Nevada          48818
1785  Nevada          51980
1792  Nevada          55274
1790  Nevada         421407
1777  Nevada        1951269
    index  STNAME  CENSUS2010POP
0    1780  Nevada            783
1    1781  Nevada           1987
2    1789  Nevada           4010
3    1786  Nevada           4772
4    1784  Nevada           5345
5    1783  Nevada           5775
6    1788  Nevada           6753
7    1791  Nevada          10030
8    1782  Nevada          16528
9    1776  Nevada          24877
10   1787  Nevada          43946
11   1778  Nevada          46997
12   1779  Nevada          48818
13   1785  Nevada          51980
14   1792  Nevada          55274
15   1790  Nevada         421407
16   1777  Nevada        1951269
             STNAME  CENSUS2010POP
1797  New Hampshire          33055
1803  New Hampshire          43742
1795  New Hampshire          47818
1794  New Hampshire          60088
1796  New Hampshire          77117
1798  New Hampshire          89118
1802  New Hampshire         123143
1800  New Hampshire         146445
1801  New Hampshire         295223
1799  New Hampshire         400721
   index         STNAME  CENSUS2010POP
0   1797  New Hampshire          33055
1   1803  New Hampshire          43742
2   1795  New Hampshire          47818
3   1794  New Hampshire          60088
4   1796  New Hampshire          77117
5   1798  New Hampshire          89118
6   1802  New Hampshire         123143
7   1800  New Hampshire         146445
8   1801  New Hampshire         295223
9   1799  New Hampshire         400721
          STNAME  CENSUS2010POP
1821  New Jersey          66083
1809  New Jersey          97265
1825  New Jersey         108692
1814  New Jersey         128349
1823  New Jersey         149265
1810  New Jersey         156898
1805  New Jersey         274549
1812  New Jersey         288288
1822  New Jersey         323444
1815  New Jersey         366513
1807  New Jersey         448734
1818  New Jersey         492276
1820  New Jersey         501226
1808  New Jersey         513657
1824  New Jersey         536499
1819  New Jersey         576567
1817  New Jersey         630380
1813  New Jersey         634266
1811  New Jersey         783969
1816  New Jersey         809858
1806  New Jersey         905116
    index      STNAME  CENSUS2010POP
0    1821  New Jersey          66083
1    1809  New Jersey          97265
2    1825  New Jersey         108692
3    1814  New Jersey         128349
4    1823  New Jersey         149265
5    1810  New Jersey         156898
6    1805  New Jersey         274549
7    1812  New Jersey         288288
8    1822  New Jersey         323444
9    1815  New Jersey         366513
10   1807  New Jersey         448734
11   1818  New Jersey         492276
12   1820  New Jersey         501226
13   1808  New Jersey         513657
14   1824  New Jersey         536499
15   1819  New Jersey         576567
16   1817  New Jersey         630380
17   1813  New Jersey         634266
18   1811  New Jersey         783969
19   1816  New Jersey         809858
20   1806  New Jersey         905116
          STNAME  CENSUS2010POP
1838  New Mexico            695
1833  New Mexico           2022
1828  New Mexico           3725
1858  New Mexico           4549
1837  New Mexico           4687
1845  New Mexico           4881
1839  New Mexico           4894
1847  New Mexico           9041
1854  New Mexico          11988
1831  New Mexico          13750
1857  New Mexico          16383
1855  New Mexico          17866
1842  New Mexico          17950
1849  New Mexico          19846
1841  New Mexico          20497
1843  New Mexico          25095
1830  New Mexico          27213
1852  New Mexico          29393
1836  New Mexico          29514
1856  New Mexico          32937
1848  New Mexico          40246
1832  New Mexico          48376
1835  New Mexico          53829
1846  New Mexico          63797
1840  New Mexico          64727
1829  New Mexico          65645
1844  New Mexico          71492
1859  New Mexico          76569
1851  New Mexico         130044
1850  New Mexico         131561
1853  New Mexico         144170
1834  New Mexico         209233
1827  New Mexico         662564
    index      STNAME  CENSUS2010POP
0    1838  New Mexico            695
1    1833  New Mexico           2022
2    1828  New Mexico           3725
3    1858  New Mexico           4549
4    1837  New Mexico           4687
5    1845  New Mexico           4881
6    1839  New Mexico           4894
7    1847  New Mexico           9041
8    1854  New Mexico          11988
9    1831  New Mexico          13750
10   1857  New Mexico          16383
11   1855  New Mexico          17866
12   1842  New Mexico          17950
13   1849  New Mexico          19846
14   1841  New Mexico          20497
15   1843  New Mexico          25095
16   1830  New Mexico          27213
17   1852  New Mexico          29393
18   1836  New Mexico          29514
19   1856  New Mexico          32937
20   1848  New Mexico          40246
21   1832  New Mexico          48376
22   1835  New Mexico          53829
23   1846  New Mexico          63797
24   1840  New Mexico          64727
25   1829  New Mexico          65645
26   1844  New Mexico          71492
27   1859  New Mexico          76569
28   1851  New Mexico         130044
29   1850  New Mexico         131561
30   1853  New Mexico         144170
31   1834  New Mexico         209233
32   1827  New Mexico         662564
        STNAME  CENSUS2010POP
1881  New York           4836
1909  New York          18343
1922  New York          25348
1885  New York          27087
1908  New York          32749
1910  New York          35251
1876  New York          39370
1921  New York          42155
1897  New York          42883
1873  New York          47980
1862  New York          48946
1880  New York          49221
1872  New York          49336
1889  New York          50219
1869  New York          50477
1914  New York          51125
1877  New York          51599
1878  New York          55531
1879  New York          60079
1899  New York          62259
1871  New York          63096
1918  New York          63216
1882  New York          64519
1886  New York          65393
1917  New York          65707
1887  New York          73442
1913  New York          77547
1866  New York          80026
1865  New York          80317
1870  New York          82128
...        ...            ...
1911  New York          98990
1900  New York          99710
1915  New York         101564
1895  New York         107931
1905  New York         111944
1883  New York         116229
1898  New York         122109
1867  New York         134905
1907  New York         154727
1902  New York         159429
1916  New York         182493
1864  New York         200600
1892  New York         216469
1906  New York         219607
1893  New York         234878
1874  New York         297488
1861  New York         304204
1904  New York         311687
1896  New York         372813
1894  New York         467026
1903  New York         468730
1888  New York         744344
1875  New York         919040
1920  New York         949113
1890  New York        1339532
1863  New York        1385108
1912  New York        1493350
1891  New York        1585873
1901  New York        2230722
1884  New York        2504700

[62 rows x 2 columns]
    index    STNAME  CENSUS2010POP
0    1881  New York           4836
1    1909  New York          18343
2    1922  New York          25348
3    1885  New York          27087
4    1908  New York          32749
5    1910  New York          35251
6    1876  New York          39370
7    1921  New York          42155
8    1897  New York          42883
9    1873  New York          47980
10   1862  New York          48946
11   1880  New York          49221
12   1872  New York          49336
13   1889  New York          50219
14   1869  New York          50477
15   1914  New York          51125
16   1877  New York          51599
17   1878  New York          55531
18   1879  New York          60079
19   1899  New York          62259
20   1871  New York          63096
21   1918  New York          63216
22   1882  New York          64519
23   1886  New York          65393
24   1917  New York          65707
25   1887  New York          73442
26   1913  New York          77547
27   1866  New York          80026
28   1865  New York          80317
29   1870  New York          82128
..    ...       ...            ...
32   1911  New York          98990
33   1900  New York          99710
34   1915  New York         101564
35   1895  New York         107931
36   1905  New York         111944
37   1883  New York         116229
38   1898  New York         122109
39   1867  New York         134905
40   1907  New York         154727
41   1902  New York         159429
42   1916  New York         182493
43   1864  New York         200600
44   1892  New York         216469
45   1906  New York         219607
46   1893  New York         234878
47   1874  New York         297488
48   1861  New York         304204
49   1904  New York         311687
50   1896  New York         372813
51   1894  New York         467026
52   1903  New York         468730
53   1888  New York         744344
54   1875  New York         919040
55   1920  New York         949113
56   1890  New York        1339532
57   1863  New York        1385108
58   1912  New York        1493350
59   1891  New York        1585873
60   1901  New York        2230722
61   1884  New York        2504700

[62 rows x 3 columns]
              STNAME  CENSUS2010POP
2012  North Carolina           4407
1971  North Carolina           5810
1961  North Carolina           8861
1938  North Carolina           9980
1975  North Carolina          10153
1945  North Carolina          10587
1926  North Carolina          11155
1960  North Carolina          12197
1992  North Carolina          13144
2017  North Carolina          13228
1995  North Carolina          13453
2010  North Carolina          13981
1944  North Carolina          14793
1984  North Carolina          15579
1929  North Carolina          17797
2023  North Carolina          17818
1998  North Carolina          20510
1981  North Carolina          20764
2016  North Carolina          20972
1931  North Carolina          21282
1963  North Carolina          21362
1989  North Carolina          22099
1950  North Carolina          23547
1940  North Carolina          23719
1982  North Carolina          24505
1969  North Carolina          24669
1927  North Carolina          26948
1928  North Carolina          27281
1943  North Carolina          27444
1985  North Carolina          27798
...              ...            ...
2002  North Carolina          93643
1987  North Carolina          95840
1946  North Carolina          98078
1948  North Carolina         103505
1968  North Carolina         106740
1933  North Carolina         107431
1966  North Carolina         114678
2019  North Carolina         122623
1991  North Carolina         133801
2001  North Carolina         134168
2003  North Carolina         138428
1999  North Carolina         141752
1924  North Carolina         151131
1941  North Carolina         154358
1972  North Carolina         159437
1952  North Carolina         162878
1997  North Carolina         168148
1974  North Carolina         168878
1990  North Carolina         177772
1936  North Carolina         178011
2013  North Carolina         201292
1988  North Carolina         202667
1959  North Carolina         206086
1934  North Carolina         238318
1955  North Carolina         267587
1949  North Carolina         319431
1957  North Carolina         350670
1964  North Carolina         488406
2015  North Carolina         900993
1983  North Carolina         919628

[100 rows x 2 columns]
    index          STNAME  CENSUS2010POP
0    2012  North Carolina           4407
1    1971  North Carolina           5810
2    1961  North Carolina           8861
3    1938  North Carolina           9980
4    1975  North Carolina          10153
5    1945  North Carolina          10587
6    1926  North Carolina          11155
7    1960  North Carolina          12197
8    1992  North Carolina          13144
9    2017  North Carolina          13228
10   1995  North Carolina          13453
11   2010  North Carolina          13981
12   1944  North Carolina          14793
13   1984  North Carolina          15579
14   1929  North Carolina          17797
15   2023  North Carolina          17818
16   1998  North Carolina          20510
17   1981  North Carolina          20764
18   2016  North Carolina          20972
19   1931  North Carolina          21282
20   1963  North Carolina          21362
21   1989  North Carolina          22099
22   1950  North Carolina          23547
23   1940  North Carolina          23719
24   1982  North Carolina          24505
25   1969  North Carolina          24669
26   1927  North Carolina          26948
27   1928  North Carolina          27281
28   1943  North Carolina          27444
29   1985  North Carolina          27798
..    ...             ...            ...
70   2002  North Carolina          93643
71   1987  North Carolina          95840
72   1946  North Carolina          98078
73   1948  North Carolina         103505
74   1968  North Carolina         106740
75   1933  North Carolina         107431
76   1966  North Carolina         114678
77   2019  North Carolina         122623
78   1991  North Carolina         133801
79   2001  North Carolina         134168
80   2003  North Carolina         138428
81   1999  North Carolina         141752
82   1924  North Carolina         151131
83   1941  North Carolina         154358
84   1972  North Carolina         159437
85   1952  North Carolina         162878
86   1997  North Carolina         168148
87   1974  North Carolina         168878
88   1990  North Carolina         177772
89   1936  North Carolina         178011
90   2013  North Carolina         201292
91   1988  North Carolina         202667
92   1959  North Carolina         206086
93   1934  North Carolina         238318
94   1955  North Carolina         267587
95   1949  North Carolina         319431
96   1957  North Carolina         350670
97   1964  North Carolina         488406
98   2015  North Carolina         900993
99   1983  North Carolina         919628

[100 rows x 3 columns]
            STNAME  CENSUS2010POP
2068  North Dakota            727
2028  North Dakota            783
2066  North Dakota           1321
2041  North Dakota           1680
2057  North Dakota           1846
2031  North Dakota           1968
2070  North Dakota           1975
2048  North Dakota           1990
2036  North Dakota           2071
2072  North Dakota           2246
2025  North Dakota           2343
2038  North Dakota           2385
2043  North Dakota           2394
2044  North Dakota           2420
2046  North Dakota           2435
2062  North Dakota           2470
2045  North Dakota           2477
2050  North Dakota           2809
2056  North Dakota           3126
2030  North Dakota           3151
2040  North Dakota           3343
2037  North Dakota           3536
2039  North Dakota           3550
2065  North Dakota           3829
2034  North Dakota           3993
2047  North Dakota           4139
2067  North Dakota           4153
2076  North Dakota           4207
2059  North Dakota           4357
2035  North Dakota           5289
2049  North Dakota           5395
2061  North Dakota           5457
2051  North Dakota           6360
2029  North Dakota           6429
2027  North Dakota           6660

      STNAME  CENSUS2010POP
2280  Oregon           1441
2273  Oregon           1765
2256  Oregon           1871
2277  Oregon           7008
2258  Oregon           7422
2257  Oregon           7445
2264  Oregon           7895
2270  Oregon          11173
2246  Oregon          16134
2252  Oregon          20978
2261  Oregon          21720
2259  Oregon          22346
2253  Oregon          22364
2278  Oregon          25213
2274  Oregon          25250
2276  Oregon          25748
2268  Oregon          31313
2249  Oregon          37039
2266  Oregon          46034
2250  Oregon          49351
2251  Oregon          63043
2263  Oregon          66380
2272  Oregon          75403
2275  Oregon          75889
2262  Oregon          82713
2247  Oregon          85579
2281  Oregon          99193
2255  Oregon         107667
2267  Oregon         116672
2254  Oregon         157733
2260  Oregon         203206
2269  Oregon         315335
2265  Oregon         351715
2248  Oregon         375992
2279  Oregon         529710
2271  Oregon         735334
    index  STNAME  CENSUS2010POP
0    2280  Oregon           1441
1    2273  Oregon           1765
2    2256  Oregon           1871
3    2277  Oregon           7008
4    2258  Oregon           7422
5    2257  Oregon           7445
6    2264  Oregon           7895
7    2270  Oregon          11173
8    2246  Oregon          16134
9    2252  Oregon          20978
10   2261  Oregon          21720
11   2259  Oregon          22346
12   2253  Oregon          22364
13   2278  Oregon          25213
14   2274  Oregon          25250
15   2276  Oregon          25748
16   2268  Oregon          31313
17   2249  Oregon          37039
18   2266  Oregon          46034
19   2250  Oregon          49351
20   2251  Oregon          63043
21   2263  Oregon          66380
22   2272  Oregon          75403
23   2275  Oregon          75889
24   2262  Oregon          82713
25   2247  Oregon          85579
26   2281  Oregon          99193
27   2255  Oregon         107667
28   2267  Oregon         116672
29   2254  Oregon         157733
30   2260  Oregon         203206
31   2269  Oregon         315335
32   2265  Oregon         351715
33   2248  Oregon         375992
34   2279  Oregon         529710
35   2271  Oregon         735334
            STNAME  CENSUS2010POP
2294  Pennsylvania           5085
2339  Pennsylvania           6428
2309  Pennsylvania           7716
2311  Pennsylvania          14845
2335  Pennsylvania          17457
2329  Pennsylvania          18267
2316  Pennsylvania          24636
2348  Pennsylvania          28276
2306  Pennsylvania          31946
2312  Pennsylvania          38686
2300  Pennsylvania          39238
2337  Pennsylvania          39702
2298  Pennsylvania          39988
2344  Pennsylvania          41815
2341  Pennsylvania          41981
2340  Pennsylvania          43356
2324  Pennsylvania          43450
2342  Pennsylvania          44947
2315  Pennsylvania          45200
2313  Pennsylvania          45913
2332  Pennsylvania          45969
2326  Pennsylvania          46682
2287  Pennsylvania          49762
2346  Pennsylvania          52822
2343  Pennsylvania          54984
2334  Pennsylvania          57369
2290  Pennsylvania          62622
2295  Pennsylvania          65249
2301  Pennsylvania          67295
2285  Pennsylvania          68941
...            ...            ...
2323  Pennsylvania         116111
2325  Pennsylvania         116638
2289  Pennsylvania         127089
2320  Pennsylvania         133568
2308  Pennsylvania         136606
2293  Pennsylvania         143679
2336  Pennsylvania         148289
2310  Pennsylvania         149618
2296  Pennsylvania         153990
2327  Pennsylvania         169842
2286  Pennsylvania         170539
2292  Pennsylvania         183862
2345  Pennsylvania         207820
2317  Pennsylvania         214437
2303  Pennsylvania         235406
2304  Pennsylvania         268100
2307  Pennsylvania         280566
2330  Pennsylvania         297735
2322  Pennsylvania         320918
2321  Pennsylvania         349497
2347  Pennsylvania         365169
2288  Pennsylvania         411442
2349  Pennsylvania         434972
2297  Pennsylvania         498886
2318  Pennsylvania         519445
2305  Pennsylvania         558979
2291  Pennsylvania         625249
2328  Pennsylvania         799874
2284  Pennsylvania        1223348
2333  Pennsylvania        1526006

[67 rows x 2 columns]
    index        STNAME  CENSUS2010POP
0    2294  Pennsylvania           5085
1    2339  Pennsylvania           6428
2    2309  Pennsylvania           7716
3    2311  Pennsylvania          14845
4    2335  Pennsylvania          17457
5    2329  Pennsylvania          18267
6    2316  Pennsylvania          24636
7    2348  Pennsylvania          28276
8    2306  Pennsylvania          31946
9    2312  Pennsylvania          38686
10   2300  Pennsylvania          39238
11   2337  Pennsylvania          39702
12   2298  Pennsylvania          39988
13   2344  Pennsylvania          41815
14   2341  Pennsylvania          41981
15   2340  Pennsylvania          43356
16   2324  Pennsylvania          43450
17   2342  Pennsylvania          44947
18   2315  Pennsylvania          45200
19   2313  Pennsylvania          45913
20   2332  Pennsylvania          45969
21   2326  Pennsylvania          46682
22   2287  Pennsylvania          49762
23   2346  Pennsylvania          52822
24   2343  Pennsylvania          54984
25   2334  Pennsylvania          57369
26   2290  Pennsylvania          62622
27   2295  Pennsylvania          65249
28   2301  Pennsylvania          67295
29   2285  Pennsylvania          68941
..    ...           ...            ...
37   2323  Pennsylvania         116111
38   2325  Pennsylvania         116638
39   2289  Pennsylvania         127089
40   2320  Pennsylvania         133568
41   2308  Pennsylvania         136606
42   2293  Pennsylvania         143679
43   2336  Pennsylvania         148289
44   2310  Pennsylvania         149618
45   2296  Pennsylvania         153990
46   2327  Pennsylvania         169842
47   2286  Pennsylvania         170539
48   2292  Pennsylvania         183862
49   2345  Pennsylvania         207820
50   2317  Pennsylvania         214437
51   2303  Pennsylvania         235406
52   2304  Pennsylvania         268100
53   2307  Pennsylvania         280566
54   2330  Pennsylvania         297735
55   2322  Pennsylvania         320918
56   2321  Pennsylvania         349497
57   2347  Pennsylvania         365169
58   2288  Pennsylvania         411442
59   2349  Pennsylvania         434972
60   2297  Pennsylvania         498886
61   2318  Pennsylvania         519445
62   2305  Pennsylvania         558979
63   2291  Pennsylvania         625249
64   2328  Pennsylvania         799874
65   2284  Pennsylvania        1223348
66   2333  Pennsylvania        1526006

[67 rows x 3 columns]
            STNAME  CENSUS2010POP
2351  Rhode Island          49875
2353  Rhode Island          82888
2355  Rhode Island         126979
2352  Rhode Island         166158
2354  Rhode Island         626667
   index        STNAME  CENSUS2010POP
0   2351  Rhode Island          49875
1   2353  Rhode Island          82888
2   2355  Rhode Island         126979
3   2352  Rhode Island         166158
4   2354  Rhode Island         626667
              STNAME  CENSUS2010POP
2389  South Carolina          10233
2359  South Carolina          10419
2365  South Carolina          15175
2361  South Carolina          15987
2387  South Carolina          19220
2397  South Carolina          19875
2381  South Carolina          21090
2362  South Carolina          22621
2376  South Carolina          23956
2383  South Carolina          24777
2357  South Carolina          25417
2375  South Carolina          26985
2391  South Carolina          28933
2400  South Carolina          28961
2373  South Carolina          32062
2390  South Carolina          33062
2368  South Carolina          33140
2401  South Carolina          34423
2370  South Carolina          34971
2392  South Carolina          37508
2371  South Carolina          38892
2369  South Carolina          46734
2367  South Carolina          55342
2378  South Carolina          60158
2384  South Carolina          61697
2386  South Carolina          66537
2372  South Carolina          68681
2380  South Carolina          69661
2393  South Carolina          74273
2385  South Carolina          76652
2394  South Carolina          92501
2399  South Carolina         107456
2395  South Carolina         119224
2374  South Carolina         136555
2377  South Carolina         136885
2358  South Carolina         160099
2363  South Carolina         162233
2364  South Carolina         177843
2360  South Carolina         187126
2402  South Carolina         226073
2388  South Carolina         262391
2382  South Carolina         269291
2398  South Carolina         284307
2366  South Carolina         350209
2396  South Carolina         384504
2379  South Carolina         451225
    index          STNAME  CENSUS2010POP
0    2389  South Carolina          10233
1    2359  South Carolina          10419
2    2365  South Carolina          15175
3    2361  South Carolina          15987
4    2387  South Carolina          19220
5    2397  South Carolina          19875
6    2381  South Carolina          21090
7    2362  South Carolina          22621
8    2376  South Carolina          23956
9    2383  South Carolina          24777
10   2357  South Carolina          25417
11   2375  South Carolina          26985
12   2391  South Carolina          28933
13   2400  South Carolina          28961
14   2373  South Carolina          32062
15   2390  South Carolina          33062
16   2368  South Carolina          33140
17   2401  South Carolina          34423
18   2370  South Carolina          34971
19   2392  South Carolina          37508
20   2371  South Carolina          38892
21   2369  South Carolina          46734
22   2367  South Carolina          55342
23   2378  South Carolina          60158
24   2384  South Carolina          61697
25   2386  South Carolina          66537
26   2372  South Carolina          68681
27   2380  South Carolina          69661
28   2393  South Carolina          74273
29   2385  South Carolina          76652
30   2394  South Carolina          92501
31   2399  South Carolina         107456
32   2395  South Carolina         119224
33   2374  South Carolina         136555
34   2377  South Carolina         136885
35   2358  South Carolina         160099
36   2363  South Carolina         162233
37   2364  South Carolina         177843
38   2360  South Carolina         187126
39   2402  South Carolina         226073
40   2388  South Carolina         262391
41   2382  South Carolina         269291
42   2398  South Carolina         284307
43   2366  South Carolina         350209
44   2396  South Carolina         384504
45   2379  South Carolina         451225
            STNAME  CENSUS2010POP
2440  South Dakota           1006
2434  South Dakota           1255
2462  South Dakota           1373
2437  South Dakota           1420
2413  South Dakota           1466
2411  South Dakota           1912
2430  South Dakota           1937
2450  South Dakota           2048
2439  South Dakota           2071
2457  South Dakota           2329
2459  South Dakota           2355
2427  South Dakota           2364
2451  South Dakota           2389
2447  South Dakota           2459
2404  South Dakota           2710
2469  South Dakota           2801
2461  South Dakota           2966
2456  South Dakota           2982
2424  South Dakota           3002
2438  South Dakota           3031
2433  South Dakota           3331
2406  South Dakota           3431
2432  South Dakota           3431
2415  South Dakota           3691
2445  South Dakota           3755
2418  South Dakota           4050
2425  South Dakota           4071
2429  South Dakota           4271
2422  South Dakota           4364
2448  South Dakota           4656
...            ...            ...
2421  South Dakota           5710
2431  South Dakota           5903
2460  South Dakota           6415
2453  South Dakota           6486
2407  South Dakota           7070
2426  South Dakota           7094
2436  South Dakota           7343
2428  South Dakota           7356
2419  South Dakota           8216
2465  South Dakota           8347
2414  South Dakota           9129
2463  South Dakota           9612
2412  South Dakota          10110
2458  South Dakota          10149
2442  South Dakota          11200
2454  South Dakota          13586
2416  South Dakota          13864
2466  South Dakota          14399
2435  South Dakota          17022
2405  South Dakota          17398
2420  South Dakota          19504
2468  South Dakota          22438
2443  South Dakota          24097
2449  South Dakota          25434
2417  South Dakota          27227
2408  South Dakota          31965
2409  South Dakota          36531
2444  South Dakota          44828
2455  South Dakota         100948
2452  South Dakota         169468

[66 rows x 2 columns]
    index        STNAME  CENSUS2010POP
0    2440  South Dakota           1006
1    2434  South Dakota           1255
2    2462  South Dakota           1373
3    2437  South Dakota           1420
4    2413  South Dakota           1466
5    2411  South Dakota           1912
6    2430  South Dakota           1937
7    2450  South Dakota           2048
8    2439  South Dakota           2071
9    2457  South Dakota           2329
10   2459  South Dakota           2355
11   2427  South Dakota           2364
12   2451  South Dakota           2389
13   2447  South Dakota           2459
14   2404  South Dakota           2710
15   2469  South Dakota           2801
16   2461  South Dakota           2966
17   2456  South Dakota           2982
18   2424  South Dakota           3002
19   2438  South Dakota           3031
20   2433  South Dakota           3331
21   2406  South Dakota           3431
22   2432  South Dakota           3431
23   2415  South Dakota           3691
24   2445  South Dakota           3755
25   2418  South Dakota           4050
26   2425  South Dakota           4071
27   2429  South Dakota           4271
28   2422  South Dakota           4364
29   2448  South Dakota           4656
..    ...           ...            ...
36   2421  South Dakota           5710
37   2431  South Dakota           5903
38   2460  South Dakota           6415
39   2453  South Dakota           6486
40   2407  South Dakota           7070
41   2426  South Dakota           7094
42   2436  South Dakota           7343
43   2428  South Dakota           7356
44   2419  South Dakota           8216
45   2465  South Dakota           8347
46   2414  South Dakota           9129
47   2463  South Dakota           9612
48   2412  South Dakota          10110
49   2458  South Dakota          10149
50   2442  South Dakota          11200
51   2454  South Dakota          13586
52   2416  South Dakota          13864
53   2466  South Dakota          14399
54   2435  South Dakota          17022
55   2405  South Dakota          17398
56   2420  South Dakota          19504
57   2468  South Dakota          22438
58   2443  South Dakota          24097
59   2449  South Dakota          25434
60   2417  South Dakota          27227
61   2408  South Dakota          31965
62   2409  South Dakota          36531
63   2444  South Dakota          44828
64   2455  South Dakota         100948
65   2452  South Dakota         169468

[66 rows x 3 columns]
         STNAME  CENSUS2010POP
2539  Tennessee           5077
2558  Tennessee           5548
2534  Tennessee           6362
2504  Tennessee           6819
2518  Tennessee           7832
2484  Tennessee           7861
2555  Tennessee           7870
2538  Tennessee           7915
2512  Tennessee           8426
2514  Tennessee          11638
2531  Tennessee          11753
2490  Tennessee          11757
2521  Tennessee          12161
2474  Tennessee          12876
2551  Tennessee          13324
2501  Tennessee          13703
2478  Tennessee          13801
2547  Tennessee          14112
2487  Tennessee          14586
2473  Tennessee          16489
2540  Tennessee          16825
2561  Tennessee          17021
2482  Tennessee          17131
2495  Tennessee          17959
2516  Tennessee          18244
2556  Tennessee          18313
2513  Tennessee          18538
2491  Tennessee          18723
2508  Tennessee          18787
2557  Tennessee          19109
...         ...            ...
2497  Tennessee          49683
2515  Tennessee          51407
2524  Tennessee          52266
2486  Tennessee          52796
2543  Tennessee          54181
2488  Tennessee          56053
2507  Tennessee          56833
2480  Tennessee          57424
2554  Tennessee          61081
2502  Tennessee          62544
2544  Tennessee          66283
2500  Tennessee          68831
2541  Tennessee          72321
2471  Tennessee          75129
2530  Tennessee          80956
2548  Tennessee          89889
2527  Tennessee          98294
2476  Tennessee          98963
2565  Tennessee         113993
2560  Tennessee         122979
2475  Tennessee         123010
2552  Tennessee         156823
2553  Tennessee         160645
2533  Tennessee         172331
2564  Tennessee         183182
2545  Tennessee         262604
2503  Tennessee         336463
2517  Tennessee         432226
2489  Tennessee         626681
2549  Tennessee         927644

[95 rows x 2 columns]
    index     STNAME  CENSUS2010POP
0    2539  Tennessee           5077
1    2558  Tennessee           5548
2    2534  Tennessee           6362
3    2504  Tennessee           6819
4    2518  Tennessee           7832
5    2484  Tennessee           7861
6    2555  Tennessee           7870
7    2538  Tennessee           7915
8    2512  Tennessee           8426
9    2514  Tennessee          11638
10   2531  Tennessee          11753
11   2490  Tennessee          11757
12   2521  Tennessee          12161
13   2474  Tennessee          12876
14   2551  Tennessee          13324
15   2501  Tennessee          13703
16   2478  Tennessee          13801
17   2547  Tennessee          14112
18   2487  Tennessee          14586
19   2473  Tennessee          16489
20   2540  Tennessee          16825
21   2561  Tennessee          17021
22   2482  Tennessee          17131
23   2495  Tennessee          17959
24   2516  Tennessee          18244
25   2556  Tennessee          18313
26   2513  Tennessee          18538
27   2491  Tennessee          18723
28   2508  Tennessee          18787
29   2557  Tennessee          19109
..    ...        ...            ...
65   2497  Tennessee          49683
66   2515  Tennessee          51407
67   2524  Tennessee          52266
68   2486  Tennessee          52796
69   2543  Tennessee          54181
70   2488  Tennessee          56053
71   2507  Tennessee          56833
72   2480  Tennessee          57424
73   2554  Tennessee          61081
74   2502  Tennessee          62544
75   2544  Tennessee          66283
76   2500  Tennessee          68831
77   2541  Tennessee          72321
78   2471  Tennessee          75129
79   2530  Tennessee          80956
80   2548  Tennessee          89889
81   2527  Tennessee          98294
82   2476  Tennessee          98963
83   2565  Tennessee         113993
84   2560  Tennessee         122979
85   2475  Tennessee         123010
86   2552  Tennessee         156823
87   2553  Tennessee         160645
88   2533  Tennessee         172331
89   2564  Tennessee         183182
90   2545  Tennessee         262604
91   2503  Tennessee         336463
92   2517  Tennessee         432226
93   2489  Tennessee         626681
94   2549  Tennessee         927644

[95 rows x 3 columns]
     STNAME  CENSUS2010POP
2717  Texas             82
2701  Texas            286
2697  Texas            416
2583  Texas            641
2722  Texas            707
2698  Texas            808
2763  Texas            929
2788  Texas            984
2782  Texas           1143
2739  Texas           1210
2653  Texas           1226

        STNAME  CENSUS2010POP
2911  Virginia           2321
2986  Virginia           3958
2875  Virginia           4731
2889  Virginia           5190
2970  Virginia           5927
2968  Virginia           5961
2964  Virginia           6650
2877  Virginia           6824
2914  Virginia           6945
2975  Virginia           7042
2979  Virginia           7042
2953  Virginia           7058
2885  Virginia           7256
2941  Virginia           7373
2973  Virginia           8582
2923  Virginia           8978
2942  Virginia           9254
2891  Virginia          10052
2925  Virginia          10959
2894  Virginia          11151
2917  Virginia          11391
2954  Virginia          12087
2988  Virginia          12150
2906  Virginia          12243
2930  Virginia          12330
2972  Virginia          12332
2929  Virginia          12389
2886  Virginia          12586
2870  Virginia          12690
2921  Virginia          12914
...        ...            ...
2896  Virginia          65203
2961  Virginia          65464
2913  Virginia          67009
2876  Virginia          68676
2874  Virginia          73750
2980  Virginia          75568
2945  Virginia          76314
2900  Virginia          78305
2995  Virginia          84585
2943  Virginia          92376
2926  Virginia          94392
2989  Virginia          95535
2992  Virginia          97032
2868  Virginia          98970
2908  Virginia          99863
2951  Virginia         122397
2952  Virginia         128961
2976  Virginia         137436
2962  Virginia         139966
2984  Virginia         180719
2991  Virginia         204214
2873  Virginia         207627
2966  Virginia         222209
2985  Virginia         242803
2909  Virginia         306935
2919  Virginia         312311
2887  Virginia         316236
2939  Virginia         402002
2996  Virginia         437994
2895  Virginia        1081726

[133 rows x 2 columns]
     index    STNAME  CENSUS2010POP
0     2911  Virginia           2321
1     2986  Virginia           3958
2     2875  Virginia           4731
3     2889  Virginia           5190
4     2970  Virginia           5927
5     2968  Virginia           5961
6     2964  Virginia           6650
7     2877  Virginia           6824
8     2914  Virginia           6945
9     2975  Virginia           7042
10    2979  Virginia           7042
11    2953  Virginia           7058
12    2885  Virginia           7256
13    2941  Virginia           7373
14    2973  Virginia           8582
15    2923  Virginia           8978
16    2942  Virginia           9254
17    2891  Virginia          10052
18    2925  Virginia          10959
19    2894  Virginia          11151
20    2917  Virginia          11391
21    2954  Virginia          12087
22    2988  Virginia          12150
23    2906  Virginia          12243
24    2930  Virginia          12330
25    2972  Virginia          12332
26    2929  Virginia          12389
27    2886  Virginia          12586
28    2870  Virginia          12690
29    2921  Virginia          12914
..     ...       ...            ...
103   2896  Virginia          65203
104   2961  Virginia          65464
105   2913  Virginia          67009
106   2876  Virginia          68676
107   2874  Virginia          73750
108   2980  Virginia          75568
109   2945  Virginia          76314
110   2900  Virginia          78305
111   2995  Virginia          84585
112   2943  Virginia          92376
113   2926  Virginia          94392
114   2989  Virginia          95535
115   2992  Virginia          97032
116   2868  Virginia          98970
117   2908  Virginia          99863
118   2951  Virginia         122397
119   2952  Virginia         128961
120   2976  Virginia         137436
121   2962  Virginia         139966
122   2984  Virginia         180719
123   2991  Virginia         204214
124   2873  Virginia         207627
125   2966  Virginia         222209
126   2985  Virginia         242803
127   2909  Virginia         306935
128   2919  Virginia         312311
129   2887  Virginia         316236
130   2939  Virginia         402002
131   2996  Virginia         437994
132   2895  Virginia        1081726

[133 rows x 3 columns]
          STNAME  CENSUS2010POP
3012  Washington           2266
3035  Washington           3978
3007  Washington           4078
3010  Washington           7551
3022  Washington          10570
3030  Washington          11066
3026  Washington          13001
3028  Washington          15769
3001  Washington          18728
3020  Washington          20318
3025  Washington          20920
3002  Washington          21623
3016  Washington          29872
3009  Washington          38431
3019  Washington          40915
3024  Washington          41120
3033  Washington          43531
3038  Washington          44776
3036  Washington          58781
3023  Washington          60699
3005  Washington          71404
3004  Washington          72453
3014  Washington          72797
3021  Washington          75455
3011  Washington          78163
3015  Washington          78506
3013  Washington          89120
3008  Washington         102410
3029  Washington         116901
3003  Washington         175177
3037  Washington         201140
3039  Washington         243231
3018  Washington         251133
3034  Washington         252264
3006  Washington         425363
3032  Washington         471221
3031  Washington         713335
3027  Washington         795225
3017  Washington        1931249
    index      STNAME  CENSUS2010POP
0    3012  Washington           2266
1    3035  Washington           3978
2    3007  Washington           4078
3    3010  Washington           7551
4    3022  Washington          10570
5    3030  Washington          11066
6    3026  Washington          13001
7    3028  Washington          15769
8    3001  Washington          18728
9    3020  Washington          20318
10   3025  Washington          20920
11   3002  Washington          21623
12   3016  Washington          29872
13   3009  Washington          38431
14   3019  Washington          40915
15   3024  Washington          41120
16   3033  Washington          43531
17   3038  Washington          44776
18   3036  Washington          58781
19   3023  Washington          60699
20   3005  Washington          71404
21   3004  Washington          72453
22   3014  Washington          72797
23   3021  Washington          75455
24   3011  Washington          78163
25   3015  Washington          78506
26   3013  Washington          89120
27   3008  Washington         102410
28   3029  Washington         116901
29   3003  Washington         175177
30   3037  Washington         201140
31   3039  Washington         243231
32   3018  Washington         251133
33   3034  Washington         252264
34   3006  Washington         425363
35   3032  Washington         471221
36   3031  Washington         713335
37   3027  Washington         795225
38   3017  Washington        1931249
             STNAME  CENSUS2010POP
3093  West Virginia           5717
3087  West Virginia           7141
3077  West Virginia           7605
3047  West Virginia           7627
3076  West Virginia           7695
3049  West Virginia           8202
3051  West Virginia           8693
3078  West Virginia           8719
3091  West Virginia           9154
3088  West Virginia           9208
3048  West Virginia           9386
3083  West Virginia          10449
3052  West Virginia          11937
3072  West Virginia          13502
3085  West Virginia          13927
3056  West Virginia          14025
3044  West Virginia          14523
3084  West Virginia          14926
3061  West Virginia          16372
3092  West Virginia          16583
3041  West Virginia          16589
3086  West Virginia          16895
3073  West Virginia          17541
3062  West Virginia          21720
3064  West Virginia          22113
3095  West Virginia          23796
3054  West Virginia          23964
3045  West Virginia          24069
3089  West Virginia          24254
3043  West Virginia          24629
3074  West Virginia          26233
3070  West Virginia          26839
3067  West Virginia          27324
3069  West Virginia          28212
3058  West Virginia          29211
3082  West Virginia          29405
3055  West Virginia          30676
3066  West Virginia          33107
3079  West Virginia          33520
3053  West Virginia          35480
3063  West Virginia          36743
3090  West Virginia          42481
3075  West Virginia          44443
3050  West Virginia          46039
3059  West Virginia          53498
3080  West Virginia          55486
3065  West Virginia          56418
3068  West Virginia          62264
3057  West Virginia          69099
3081  West Virginia          78859
3094  West Virginia          86956
3071  West Virginia          96189
3046  West Virginia          96319
3042  West Virginia         104169
3060  West Virginia         193063
    index         STNAME  CENSUS2010POP
0    3093  West Virginia           5717
1    3087  West Virginia           7141
2    3077  West Virginia           7605
3    3047  West Virginia           7627
4    3076  West Virginia           7695
5    3049  West Virginia           8202
6    3051  West Virginia           8693
7    3078  West Virginia           8719
8    3091  West Virginia           9154
9    3088  West Virginia           9208
10   3048  West Virginia           9386
11   3083  West Virginia          10449
12   3052  West Virginia          11937
13   3072  West Virginia          13502
14   3085  West Virginia          13927
15   3056  West Virginia          14025
16   3044  West Virginia          14523
17   3084  West Virginia          14926
18   3061  West Virginia          16372
19   3092  West Virginia          16583
20   3041  West Virginia          16589
21   3086  West Virginia          16895
22   3073  West Virginia          17541
23   3062  West Virginia          21720
24   3064  West Virginia          22113
25   3095  West Virginia          23796
26   3054  West Virginia          23964
27   3045  West Virginia          24069
28   3089  West Virginia          24254
29   3043  West Virginia          24629
30   3074  West Virginia          26233
31   3070  West Virginia          26839
32   3067  West Virginia          27324
33   3069  West Virginia          28212
34   3058  West Virginia          29211
35   3082  West Virginia          29405
36   3055  West Virginia          30676
37   3066  West Virginia          33107
38   3079  West Virginia          33520
39   3053  West Virginia          35480
40   3063  West Virginia          36743
41   3090  West Virginia          42481
42   3075  West Virginia          44443
43   3050  West Virginia          46039
44   3059  West Virginia          53498
45   3080  West Virginia          55486
46   3065  West Virginia          56418
47   3068  West Virginia          62264
48   3057  West Virginia          69099
49   3081  West Virginia          78859
50   3094  West Virginia          86956
51   3071  West Virginia          96189
52   3046  West Virginia          96319
53   3042  West Virginia         104169
54   3060  West Virginia         193063
         STNAME  CENSUS2010POP
3136  Wisconsin           4232
3115  Wisconsin           4423
3122  Wisconsin           5916
3143  Wisconsin           7469
3117  Wisconsin           9304
3102  Wisconsin          13587
3147  Wisconsin          14159
3151  Wisconsin          14755
3100  Wisconsin          15014
3135  Wisconsin          15404
3103  Wisconsin          15457
3162  Wisconsin          15911
3098  Wisconsin          16157
3154  Wisconsin          16557
3108  Wisconsin          16644
3129  Wisconsin          16836
3149  Wisconsin          18021
3120  Wisconsin          19051
3130  Wisconsin          19977
3123  Wisconsin          20449
3127  Wisconsin          20574
3157  Wisconsin          20689
3097  Wisconsin          20875
3160  Wisconsin          21430
3121  Wisconsin          23687
3166  Wisconsin          24496
3125  Wisconsin          26664
3111  Wisconsin          27785
3131  Wisconsin          28743
3158  Wisconsin          28816
...         ...            ...
3099  Wisconsin          45870
3104  Wisconsin          48971
3118  Wisconsin          51208
3165  Wisconsin          52410
3107  Wisconsin          56833
3153  Wisconsin          61976
3105  Wisconsin          62415
3146  Wisconsin          70019
3168  Wisconsin          74749
3132  Wisconsin          81442
3124  Wisconsin          83686
3152  Wisconsin          84345
3142  Wisconsin          86395
3110  Wisconsin          88759
3114  Wisconsin          98736
3116  Wisconsin         101633
3161  Wisconsin         102228
3128  Wisconsin         114638
3156  Wisconsin         115507
3163  Wisconsin         131887
3133  Wisconsin         134063
3150  Wisconsin         160331
3126  Wisconsin         166426
3167  Wisconsin         166994
3141  Wisconsin         176695
3148  Wisconsin         195408
3101  Wisconsin         248007
3164  Wisconsin         389891
3109  Wisconsin         488073
3137  Wisconsin         947735

[72 rows x 2 columns]
    index     STNAME  CENSUS2010POP
0    3136  Wisconsin           4232
1    3115  Wisconsin           4423
2    3122  Wisconsin           5916
3    3143  Wisconsin           7469
4    3117  Wisconsin           9304
5    3102  Wisconsin          13587
6    3147  Wisconsin          14159
7    3151  Wisconsin          14755
8    3100  Wisconsin          15014
9    3135  Wisconsin          15404
10   3103  Wisconsin          15457
11   3162  Wisconsin          15911
12   3098  Wisconsin          16157
13   3154  Wisconsin          16557
14   3108  Wisconsin          16644
15   3129  Wisconsin          16836
16   3149  Wisconsin          18021
17   3120  Wisconsin          19051
18   3130  Wisconsin          19977
19   3123  Wisconsin          20449
20   3127  Wisconsin          20574
21   3157  Wisconsin          20689
22   3097  Wisconsin          20875
23   3160  Wisconsin          21430
24   3121  Wisconsin          23687
25   3166  Wisconsin          24496
26   3125  Wisconsin          26664
27   3111  Wisconsin          27785
28   3131  Wisconsin          28743
29   3158  Wisconsin          28816
..    ...        ...            ...
42   3099  Wisconsin          45870
43   3104  Wisconsin          48971
44   3118  Wisconsin          51208
45   3165  Wisconsin          52410
46   3107  Wisconsin          56833
47   3153  Wisconsin          61976
48   3105  Wisconsin          62415
49   3146  Wisconsin          70019
50   3168  Wisconsin          74749
51   3132  Wisconsin          81442
52   3124  Wisconsin          83686
53   3152  Wisconsin          84345
54   3142  Wisconsin          86395
55   3110  Wisconsin          88759
56   3114  Wisconsin          98736
57   3116  Wisconsin         101633
58   3161  Wisconsin         102228
59   3128  Wisconsin         114638
60   3156  Wisconsin         115507
61   3163  Wisconsin         131887
62   3133  Wisconsin         134063
63   3150  Wisconsin         160331
64   3126  Wisconsin         166426
65   3167  Wisconsin         166994
66   3141  Wisconsin         176695
67   3148  Wisconsin         195408
68   3101  Wisconsin         248007
69   3164  Wisconsin         389891
70   3109  Wisconsin         488073
71   3137  Wisconsin         947735

[72 rows x 3 columns]
       STNAME  CENSUS2010POP
3183  Wyoming           2484
3178  Wyoming           4812
3175  Wyoming           7083
3192  Wyoming           7208
3191  Wyoming           8533
3179  Wyoming           8569
3185  Wyoming           8667
3187  Wyoming          10247
3171  Wyoming          11668
3177  Wyoming          13249
3174  Wyoming          13833
3173  Wyoming          15885
3181  Wyoming          18106
3190  Wyoming          21118
3189  Wyoming          21294
3184  Wyoming          28205
3186  Wyoming          29116
3170  Wyoming          36299
3176  Wyoming          40123
3188  Wyoming          43806
3172  Wyoming          46133
3182  Wyoming          75450
3180  Wyoming          91738
    index   STNAME  CENSUS2010POP
0    3183  Wyoming           2484
1    3178  Wyoming           4812
2    3175  Wyoming           7083
3    3192  Wyoming           7208
4    3191  Wyoming           8533
5    3179  Wyoming           8569
6    3185  Wyoming           8667
7    3187  Wyoming          10247
8    3171  Wyoming          11668
9    3177  Wyoming          13249
10   3174  Wyoming          13833
11   3173  Wyoming          15885
12   3181  Wyoming          18106
13   3190  Wyoming          21118
14   3189  Wyoming          21294
15   3184  Wyoming          28205
16   3186  Wyoming          29116
17   3170  Wyoming          36299
18   3176  Wyoming          40123
19   3188  Wyoming          43806
20   3172  Wyoming          46133
21   3182  Wyoming          75450
22   3180  Wyoming          91738

['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [50]:
def answer_seven():
    census_df_5 = census_df[census_df['SUMLEV']==50]
    columns_to_keep =  ['STNAME', 'CTYNAME','POPESTIMATE2010','POPESTIMATE2011', 'POPESTIMATE2012','POPESTIMATE2013',
                        'POPESTIMATE2014', 'POPESTIMATE2015']
    census_df_5 = census_df_5[columns_to_keep]
    df_CTYNAME = pd.Series()
    df_VALORMAX = pd.Series()
    cont = 0
    for i in range(0,6):
        for j in range(i+1,6):
            cont += 1
            name_1 = 'DIF1' + str(i) + '-1' + str(j)
            name_2 = 'POPESTIMATE201' + str(i)
            name_3 = 'POPESTIMATE201' + str(j)
            census_df_5[name_1] = abs(census_df_5[name_2] - census_df_5[name_3])
            valor_max = census_df_5[name_1].max()
            id_max = census_df_5[name_1].idxmax()
            df_CTYNAME[str(cont)] = census_df_5.loc[id_max]['CTYNAME']
            df_VALORMAX[str(cont)] = valor_max
    
    idmax_2 = df_VALORMAX.idxmax()
    #print(df_CTYNAME.loc[idmax_2])
    #print(census_df_5.head())
    return df_CTYNAME.loc[idmax_2]
answer_seven()

'Harris County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [40]:
def answer_eight():
    census_df_8 = census_df[census_df['REGION']!=4]
    census_df_8 = census_df_8[census_df_8['REGION']!=3]
    for x in census_df_8.index:
         if not census_df_8.loc[x]['CTYNAME'][:10]=='Washington':
                census_df_8 = census_df_8.drop(x)
         else:
            if not census_df_8.loc[x]['POPESTIMATE2015']>census_df_8.loc[x]['POPESTIMATE2014']:
                census_df_8 = census_df_8.drop(x)
    columns_to_keep = ['STNAME', 'CTYNAME']
    census_df_8 = census_df_8[columns_to_keep]
    #print(census_df_8)
    return census_df_8
answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County